Repository ministryofjustice/modernisation-platform-environments, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ministryofjustice/modernisation-platform, @ministryofjustice/laa-aws-infrastructure, @ministryofjustice/laa-ccms-migration-team, @ministryofjustice/modernisation-platform-security, @ministryofjustice/data-and-insights-hub, @ministryofjustice/hmpps-migration, @ministryofjustice/hmpps-digital-prison-reporting, @ministryofjustice/modernisation-platform-engineers, @ministryofjustice/studio-webops, @ministryofjustice/performance-hub-developers, @ministryofjustice/ppud-replacement-devs, @ministryofjustice/hmpps-interventions-dev, @ministryofjustice/hmpps-interventions-dashboard-access, @ministryofjustice/cica, @ministryofjustice/dts-heritage-services, @ministryofjustice/xhibit-portal-dev

.github/CODEOWNERS:

# This file is auto-generated here, do not manually amend.
# https://github.com/ministryofjustice/modernisation-platform/blob/main/scripts/provision-member-directories.sh

* @ministryofjustice/modernisation-platform
/terraform/environments/apex @ministryofjustice/laa-aws-infrastructure @ministryofjustice/modernisation-platform
/terraform/environments/ccms-ebs @ministryofjustice/laa-ccms-migration-team @ministryofjustice/modernisation-platform
/terraform/environments/ccms-ebs @ministryofjustice/modernisation-platform-security @ministryofjustice/modernisation-platform
/terraform/environments/ccms-ebs @ministryofjustice/laa-ccms-migration-team @ministryofjustice/modernisation-platform
/terraform/environments/ccms-ebs @ministryofjustice/modernisation-platform-security @ministryofjustice/modernisation-platform
/terraform/environments/ccms-ebs @ministryofjustice/laa-ccms-migration-team @ministryofjustice/modernisation-platform
/terraform/environments/ccms-ebs @ministryofjustice/modernisation-platform-security @ministryofjustice/modernisation-platform
/terraform/environments/ccms-ebs @ministryofjustice/laa-ccms-migration-team @ministryofjustice/modernisation-platform
/terraform/environments/ccms-ebs @ministryofjustice/modernisation-platform-security @ministryofjustice/modernisation-platform
/terraform/environments/data-and-insights-wepi @ministryofjustice/data-and-insights-hub @ministryofjustice/modernisation-platform
/terraform/environments/delius-core @ministryofjustice/hmpps-migration @ministryofjustice/modernisation-platform
/terraform/environments/delius-iaps @ministryofjustice/hmpps-migration @ministryofjustice/modernisation-platform
/terraform/environments/delius-jitbit @ministryofjustice/hmpps-migration @ministryofjustice/modernisation-platform
/terraform/environments/digital-prison-reporting @ministryofjustice/hmpps-digital-prison-reporting @ministryofjustice/modernisation-platform
/terraform/environments/equip @ministryofjustice/modernisation-platform-engineers @ministryofjustice/modernisation-platform
/terraform/environments/example @ministryofjustice/modernisation-platform @ministryofjustice/modernisation-platform
/terraform/environments/laa-oem @ministryofjustice/laa-ccms-migration-team @ministryofjustice/modernisation-platform
/terraform/environments/long-term-storage @ministryofjustice/modernisation-platform @ministryofjustice/modernisation-platform
/terraform/environments/maatdb @ministryofjustice/laa-aws-infrastructure @ministryofjustice/modernisation-platform
/terraform/environments/mlra @ministryofjustice/laa-aws-infrastructure @ministryofjustice/modernisation-platform
/terraform/environments/nomis-combined-reporting @ministryofjustice/studio-webops @ministryofjustice/modernisation-platform
/terraform/environments/nomis-data-hub @ministryofjustice/studio-webops @ministryofjustice/modernisation-platform
/terraform/environments/nomis @ministryofjustice/studio-webops @ministryofjustice/modernisation-platform
/terraform/environments/oas @ministryofjustice/laa-aws-infrastructure @ministryofjustice/modernisation-platform
/terraform/environments/oasys @ministryofjustice/studio-webops @ministryofjustice/modernisation-platform
/terraform/environments/performance-hub @ministryofjustice/performance-hub-developers @ministryofjustice/modernisation-platform
/terraform/environments/ppud @ministryofjustice/modernisation-platform @ministryofjustice/modernisation-platform
/terraform/environments/ppud @ministryofjustice/ppud-replacement-devs @ministryofjustice/modernisation-platform
/terraform/environments/refer-monitor @ministryofjustice/hmpps-interventions-dev @ministryofjustice/modernisation-platform
/terraform/environments/refer-monitor @ministryofjustice/hmpps-interventions-dashboard-access @ministryofjustice/modernisation-platform
/terraform/environments/sprinkler @ministryofjustice/modernisation-platform @ministryofjustice/modernisation-platform
/terraform/environments/tariff @ministryofjustice/cica @ministryofjustice/modernisation-platform
/terraform/environments/testing @ministryofjustice/modernisation-platform @ministryofjustice/modernisation-platform
/terraform/environments/tipstaff @ministryofjustice/dts-heritage-services @ministryofjustice/modernisation-platform
/terraform/environments/xhibit-portal @ministryofjustice/xhibit-portal-dev @ministryofjustice/modernisation-platform
**/providers.tf @ministryofjustice/modernisation-platform
**/backend.tf @ministryofjustice/modernisation-platform
**/subnet_share.tf @ministryofjustice/modernisation-platform
**/networking.auto.tfvars.json @ministryofjustice/modernisation-platform
**/platform_*.tf @ministryofjustice/modernisation-platform
/terraform/modules

open egress port on load balancer security group
  terraform/environments/tipstaff/ec2.tf
  terraform/environments/tipstaff/load_balancer.tf
Owners: @ministryofjustice/dts-heritage-services, @ministryofjustice/modernisation-platform

alerts
  terraform/environments/ccms-ebs/alb.tf
  terraform/environments/ccms-ebs/certs.tf
  terraform/environments/ccms-ebs/platform_providers.tf
  terraform/environments/ccms-ebs/s3.tf
Owners: @ministryofjustice/modernisation-platform-security, @ministryofjustice/modernisation-platform

replace providers
  terraform/environments/ccms-ebs/platform_providers.tf
Owners: @ministryofjustice/modernisation-platform

change namespace
  terraform/environments/ccms-ebs/modules/cw-ec2/main.tf
Owners: @ministryofjustice/modernisation-platform-security, @ministryofjustice/modernisation-platform

add key pair to ec2 instance, remove public access from rds
  terraform/environments/tipstaff/ec2.tf
  terraform/environments/tipstaff/load_balancer.tf
  terraform/environments/tipstaff/rds.tf
  terraform/environments/tipstaff/secrets.tf
Owners: @ministryofjustice/dts-heritage-services, @ministryofjustice/modernisation-platform

add public access back to rds
  terraform/environments/tipstaff/rds.tf
Owners: @ministryofjustice/dts-heritage-services, @ministryofjustice/modernisation-platform

temp removal
  terraform/environments/ccms-ebs/modules/cw-ec2/main.tf
Owners: @ministryofjustice/modernisation-platform-security, @ministryofjustice/modernisation-platform

temp
  terraform/environments/ccms-ebs/ec2_ftp.tf
  terraform/environments/ccms-ebs/ec2_oracle_accessgate.tf
  terraform/environments/ccms-ebs/ec2_oracle_ebs.tf
  terraform/environments/ccms-ebs/ec2_oracle_ebs_apps.tf
  terraform/environments/ccms-ebs/modules/cw-ec2/main.tf
Owners: @ministryofjustice/modernisation-platform-security, @ministryofjustice/modernisation-platform

CC-1621: Temporarily added aws_instance.oem_app_old and aws_instance.oem_db_old
  terraform/environments/laa-oem/oem_ec2_app.tf
  terraform/environments/laa-oem/oem_ec2_db.tf
Owners: @ministryofjustice/laa-ccms-migration-team, @ministryofjustice/modernisation-platform

CC-1621: Fixed typos.
  terraform/environments/laa-oem/oem_ec2_app.tf
  terraform/environments/laa-oem/oem_ec2_db.tf
Owners: @ministryofjustice/laa-ccms-migration-team, @ministryofjustice/modernisation-platform

CC-1621: Removed aws_instance.oem_app_old and aws_instance.oem_db_old; updated AMIs.
  terraform/environments/laa-oem/member_locals.tf
  terraform/environments/laa-oem/oem_ec2_app.tf
  terraform/environments/laa-oem/oem_ec2_db.tf
Owners: @ministryofjustice/laa-ccms-migration-team, @ministryofjustice/modernisation-platform

LAWS-2990: new AMI Image for EC2 instance
  terraform/environments/oas/application_variables.json
Owners: @ministryofjustice/laa-aws-infrastructure, @ministryofjustice/modernisation-platform

update to metrics
  terraform/environments/ccms-ebs/modules/cw-ec2/main.tf
  terraform/environments/ccms-ebs/templates/cw_agent_config.json
Owners: @ministryofjustice/modernisation-platform-security, @ministryofjustice/modernisation-platform

Sets source_version to feature branch for now. Will remove this when testing is done.
  terraform/environments/mlra/modules/codebuild/main.tf
Owners: @ministryofjustice/laa-aws-infrastructure, @ministryofjustice/modernisation-platform

Bug
  terraform/environments/mlra/modules/codebuild/main.tf
Owners: @ministryofjustice/laa-aws-infrastructure, @ministryofjustice/modernisation-platform

Bug.
  terraform/environments/mlra/modules/codebuild/main.tf
Owners: @ministryofjustice/laa-aws-infrastructure, @ministryofjustice/modernisation-platform

bug
  terraform/environments/mlra/modules/codebuild/main.tf
Owners: @ministryofjustice/laa-aws-infrastructure, @ministryofjustice/modernisation-platform

add index page to server install
  terraform/environments/tipstaff/ec2.tf
Owners: @ministryofjustice/dts-heritage-services, @ministryofjustice/modernisation-platform

Testing a policy change.
  terraform/environments/mlra/modules/codebuild/codebuild_iam_policy.json.tpl
Owners: @ministryofjustice/laa-aws-infrastructure, @ministryofjustice/modernisation-platform

Remove source_version
  terraform/environments/mlra/modules/codebuild/main.tf
Owners: @ministryofjustice/laa-aws-infrastructure, @ministryofjustice/modernisation-platform

fix dimensions
  terraform/environments/ccms-ebs/ec2_oracle_webgate.tf
  terraform/environments/ccms-ebs/modules/cw-ec2/main.tf
  terraform/environments/ccms-ebs/modules/cw-ec2/variables.tf
Owners: @ministryofjustice/modernisation-platform-security, @ministryofjustice/modernisation-platform

comment out vpc_id to select default vpc instead
  terraform/environments/tipstaff/ec2.tf
  terraform/environments/tipstaff/load_balancer.tf
  terraform/environments/tipstaff/rds.tf
Owners: @ministryofjustice/dts-heritage-services, @ministryofjustice/modernisation-platform

removed comments
  terraform/environments/tipstaff/rds.tf
Owners: @ministryofjustice/dts-heritage-services, @ministryofjustice/modernisation-platform

CC-1621: Added access from Workspace to LB:7102, LB:7803.
  terraform/environments/laa-oem/oem_ec2_app_lb.tf
  terraform/environments/laa-oem/oem_ec2_app_sg.tf
Owners: @ministryofjustice/laa-ccms-migration-team, @ministryofjustice/modernisation-platform

add comments back in
  terraform/environments/tipstaff/rds.tf
Owners: @ministryofjustice/dts-heritage-services, @ministryofjustice/modernisation-platform

oasys-db-volumes
  terraform/environments/oasys/locals.tf
Owners: @ministryofjustice/studio-webops, @ministryofjustice/modernisation-platform

attempt to terraform destroy
  terraform/environments/tipstaff/dns_ssl.tf
  terraform/environments/tipstaff/ec2.tf
  terraform/environments/tipstaff/load_balancer.tf
  terraform/environments/tipstaff/rds.tf
Owners: @ministryofjustice/dts-heritage-services, @ministryofjustice/modernisation-platform

Further policy changes.
  terraform/environments/mlra/modules/codebuild/codebuild_iam_policy.json.tpl
Owners: @ministryofjustice/laa-aws-infrastructure, @ministryofjustice/modernisation-platform

also comment out locals.tf
  terraform/environments/tipstaff/locals.tf
Owners: @ministryofjustice/dts-heritage-services, @ministryofjustice/modernisation-platform

Amending scope of policy for testing purposes.
  terraform/environments/mlra/modules/codebuild/codebuild_iam_policy.json.tpl
Owners: @ministryofjustice/laa-aws-infrastructure, @ministryofjustice/modernisation-platform

add everything except for ec2 and target group
  terraform/environments/tipstaff/dns_ssl.tf
  terraform/environments/tipstaff/ec2.tf
  terraform/environments/tipstaff/load_balancer.tf
  terraform/environments/tipstaff/locals.tf
  terraform/environments/tipstaff/rds.tf
Owners: @ministryofjustice/dts-heritage-services, @ministryofjustice/modernisation-platform

..
  terraform/environments/oasys/main.tf
Owners: @ministryofjustice/studio-webops, @ministryofjustice/modernisation-platform

put rds in default vpc
  terraform/environments/tipstaff/rds.tf
Owners: @ministryofjustice/dts-heritage-services, @ministryofjustice/modernisation-platform

delete rds
  terraform/environments/tipstaff/rds.tf
Owners: @ministryofjustice/dts-heritage-services, @ministryofjustice/modernisation-platform

..
  terraform/environments/oasys/locals.tf
  terraform/environments/oasys/locals_development.tf
Owners: @ministryofjustice/studio-webops, @ministryofjustice/modernisation-platform

add empty null_resource
  terraform/environments/tipstaff/rds.tf
Owners: @ministryofjustice/dts-heritage-services, @ministryofjustice/modernisation-platform

..
  terraform/environments/oasys/locals.tf
Owners: @ministryofjustice/studio-webops, @ministryofjustice/modernisation-platform

add resources back
  terraform/environments/tipstaff/ec2.tf
  terraform/environments/tipstaff/load_balancer.tf
  terraform/environments/tipstaff/rds.tf
Owners: @ministryofjustice/dts-heritage-services, @ministryofjustice/modernisation-platform

Rename Module to s3_violation_bucket
  terraform/environments/digital-prison-reporting/modules/s3_bucket/main.tf
Owners: @ministryofjustice/hmpps-digital-prison-reporting, @ministryofjustice/modernisation-platform

Violation Bucket, fixing Lifecycle rule to Enabled
  terraform/environments/digital-prison-reporting/modules/s3_bucket/main.tf
Owners: @ministryofjustice/hmpps-digital-prison-reporting, @ministryofjustice/modernisation-platform
