Repository ministryofjustice/modernisation-platform-environments, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ministryofjustice/modernisation-platform, @ministryofjustice/modernisation-platform-engineers, @ministryofjustice/studio-webops, @ministryofjustice/performance-hub-developers, @ministryofjustice/ppud-replacement-devs, @ministryofjustice/cica, @ministryofjustice/threat-and-vulnerability-mgmt, @ministryofjustice/xhibit-portal-dev

conduct HTTP_301 on traffic to Equip gateway in order to bypass Netscaler
  terraform/environments/equip/acm-dns/acm.tf
  terraform/environments/equip/acm-dns/acm_variables.tf
  terraform/environments/equip/alb.tf
  terraform/environments/equip/application_variables.json
  terraform/environments/equip/securitygroup.tf
Owners: @ministryofjustice/modernisation-platform-engineers, @ministryofjustice/modernisation-platform

correct reference to CTX01 for TGA
  terraform/environments/equip/alb.tf
Owners: @ministryofjustice/modernisation-platform-engineers, @ministryofjustice/modernisation-platform

Adding prometheus EC2 discovery role so don't have to use iam user.
  terraform/environments/nomis/ec2-common.tf
Owners: @ministryofjustice/studio-webops, @ministryofjustice/modernisation-platform

tidied up after discussion with Roc and amendment of webserver path on CTX servers
  terraform/environments/equip/alb.tf
Owners: @ministryofjustice/modernisation-platform-engineers, @ministryofjustice/modernisation-platform

Typo in the original role request, just checking to make sure this is the issue.
  terraform/environments/nomis/ec2-common.tf
Owners: @ministryofjustice/studio-webops, @ministryofjustice/modernisation-platform

refactor to meet existing naming standards, remove tfsec from git, point tga_gateway back at netscaler
  terraform/environments/equip/alb.tf
Owners: @ministryofjustice/modernisation-platform-engineers, @ministryofjustice/modernisation-platform

updated target group to use HTTPS
  terraform/environments/equip/alb.tf
Owners: @ministryofjustice/modernisation-platform-engineers, @ministryofjustice/modernisation-platform

also added permission to delete secrets to packer role so can clean up jumpserver secrets
  terraform/environments/nomis/ec2-image-builder-iam.tf
  terraform/environments/nomis/packer.tf
Owners: @ministryofjustice/studio-webops, @ministryofjustice/modernisation-platform

Fixing role name.
  terraform/environments/nomis/ec2-common.tf
Owners: @ministryofjustice/studio-webops, @ministryofjustice/modernisation-platform

Adding prometheus EC2 discovery role so don't have to use iam user. (#649)
  terraform/environments/nomis/ec2-common.tf
Owners: @ministryofjustice/studio-webops, @ministryofjustice/modernisation-platform

added .tfsec to gitignore, updated rule from adc to dc for dns
  .gitignore
  terraform/environments/equip/application_variables.json
Owners: @ministryofjustice/modernisation-platform, @ministryofjustice/modernisation-platform-engineers

remove secretsmanager permission from packer
  terraform/environments/nomis/packer.tf
Owners: @ministryofjustice/studio-webops, @ministryofjustice/modernisation-platform

removed secrets recovery window from jumpserver secrets and removed some dodgy permissions from Packer user
  terraform/environments/nomis/ec2-jumpserver.tf
  terraform/environments/nomis/packer.tf
Owners: @ministryofjustice/studio-webops, @ministryofjustice/modernisation-platform

.github/CODEOWNERS:

# This file is auto-generated here, do not manually amend. 
# https://github.com/ministryofjustice/modernisation-platform/blob/main/scripts/provision-member-directories.sh

* @ministryofjustice/modernisation-platform
/terraform/environments/equip @ministryofjustice/modernisation-platform-engineers @ministryofjustice/modernisation-platform
/terraform/environments/example @ministryofjustice/modernisation-platform @ministryofjustice/modernisation-platform
/terraform/environments/nomis @ministryofjustice/studio-webops @ministryofjustice/modernisation-platform
/terraform/environments/performance-hub @ministryofjustice/performance-hub-developers @ministryofjustice/modernisation-platform
/terraform/environments/ppud @ministryofjustice/modernisation-platform @ministryofjustice/modernisation-platform
/terraform/environments/ppud @ministryofjustice/ppud-replacement-devs @ministryofjustice/modernisation-platform
/terraform/environments/sprinkler @ministryofjustice/modernisation-platform @ministryofjustice/modernisation-platform
/terraform/environments/tariff @ministryofjustice/cica @ministryofjustice/modernisation-platform
/terraform/environments/testing @ministryofjustice/modernisation-platform @ministryofjustice/modernisation-platform
/terraform/environments/threat-and-vulnerability-mgmt @ministryofjustice/threat-and-vulnerability-mgmt @ministryofjustice/modernisation-platform
/terraform/environments/xhibit-portal @ministryofjustice/xhibit-portal-dev @ministryofjustice/modernisation-platform
**/providers.tf @ministryofjustice/modernisation-platform
**/backend.tf @ministryofjustice/modernisation-platform
**/subnet_share.tf @ministryofjustice/modernisation-platform
**/networking.auto.tfvars.json @ministryofjustice/modernisation-platform
