Repository ministryofjustice/modernisation-platform-environments, changes with the owners that .github/CODEOWNERS names for each.
All owners: @modernisation-platform, @analytical-platform, @cjse-bichard7-next, @studio-webops, @performance-hub-developers, @hmpps-remote-supervision, @cica, @xhibit-portal-dev

.github/CODEOWNERS:

# This file is auto-generated here, do not manually amend. 
# https://github.com/ministryofjustice/modernisation-platform/blob/main/scripts/provision-member-directories.sh

* @modernisation-platform
/terraform/environments/analytical-platform-data @analytical-platform @modernisation-platform
/terraform/environments/bichard7 @cjse-bichard7-next @modernisation-platform
/terraform/environments/mi-platform @analytical-platform @modernisation-platform
/terraform/environments/nomis @studio-webops @modernisation-platform
/terraform/environments/performance-hub @performance-hub-developers @modernisation-platform
/terraform/environments/remote-supervision @hmpps-remote-supervision @modernisation-platform
/terraform/environments/sprinkler @modernisation-platform @modernisation-platform
/terraform/environments/tariff @cica @modernisation-platform
/terraform/environments/testing @modernisation-platform @modernisation-platform
/terraform/environments/xhibit-portal @xhibit-portal-dev @modernisation-platform
**/providers.tf @modernisation-platform
**/backend.tf @modernisation-platform
**/subnet_share.tf @modernisation-platform
**/networking.auto.tfvars.json @modernisation-platform

Deploying prod main branch test 2
  .github/workflows/xhibit-portal.yml
Owners: @modernisation-platform

test 3
  terraform/environments/xhibit-portal/waf-load-balancer.tf
Owners: @xhibit-portal-dev, @modernisation-platform

removing commented dcheck resources
  terraform/environments/xhibit-portal/importmachine.tf
Owners: @xhibit-portal-dev, @modernisation-platform

changed workflow to run prod plan and deployment after merge, and only deployment branch is main
  .github/workflows/xhibit-portal.yml
Owners: @modernisation-platform

Changes in xp-dev will run dev and prod plans together
  .github/workflows/xhibit-portal.yml
Owners: @modernisation-platform

dependency in workflow for prod plan on dev deploy success
  .github/workflows/xhibit-portal.yml
Owners: @modernisation-platform

deploy on dev depends on successful dev plan
  .github/workflows/xhibit-portal.yml
Owners: @modernisation-platform

update prod disk 5
  terraform/environments/xhibit-portal/application_variables.json
Owners: @xhibit-portal-dev, @modernisation-platform

deploy to prod on merge only
  .github/workflows/xhibit-portal.yml
Owners: @modernisation-platform

add disk 5
  terraform/environments/xhibit-portal/database-server.tf
Owners: @xhibit-portal-dev, @modernisation-platform

update device name
  terraform/environments/xhibit-portal/database-server.tf
Owners: @xhibit-portal-dev, @modernisation-platform

Separate workflow logic for prod and dev
  .github/workflows/xhibit-portal-prod.yml
Owners: @modernisation-platform

Git workflow refactoring
  .github/workflows/xhibit-portal-dev.yml
  .github/workflows/xhibit-portal-prod-deploy.yml
  .github/workflows/xhibit-portal-prod-plan.yml
Owners: @modernisation-platform

Removing db server comments
  terraform/environments/xhibit-portal/database-server.tf
Owners: @xhibit-portal-dev, @modernisation-platform

add backup disk
  terraform/environments/xhibit-portal/database-server.tf
Owners: @xhibit-portal-dev, @modernisation-platform

referencing different branch target for prod plan
  .github/workflows/xhibit-portal-prod-deploy.yml
  .github/workflows/xhibit-portal-prod-plan.yml
Owners: @modernisation-platform

Removing if statements in workflows
  .github/workflows/xhibit-portal-dev.yml
  .github/workflows/xhibit-portal-prod-deploy.yml
  .github/workflows/xhibit-portal-prod-plan.yml
Owners: @modernisation-platform

Deploy if branch is main
  .github/workflows/xhibit-portal-prod-deploy.yml
Owners: @modernisation-platform

Adding if conditions back in
  .github/workflows/xhibit-portal-dev.yml
  .github/workflows/xhibit-portal-prod-deploy.yml
  .github/workflows/xhibit-portal-prod-plan.yml
Owners: @modernisation-platform

Git workflow fix
  .github/workflows/xhibit-portal-dev.yml
  .github/workflows/xhibit-portal.yml
Owners: @modernisation-platform

Separate file for PR trigger
  .github/workflows/xhibit-portal.yml
Owners: @modernisation-platform

Removed environment tag to remove need for review
  .github/workflows/xhibit-portal.yml
Owners: @modernisation-platform

Fixed PR prod plan workflow
  .github/workflows/xhibit-portal-prod-plan.yml
  .github/workflows/xhibit-portal.yml
Owners: @modernisation-platform

Adding one condition for the github workflow
  .github/workflows/xhibit-portal.yml
Owners: @modernisation-platform

simplified condition
  .github/workflows/xhibit-portal.yml
Owners: @modernisation-platform

removed redundant brackets
  .github/workflows/xhibit-portal.yml
Owners: @modernisation-platform

Removed incorrect path in workflow
  .github/workflows/xhibit-portal.yml
Owners: @modernisation-platform

Comments added for clarity
  .github/workflows/xhibit-portal.yml
Owners: @modernisation-platform

Removed if condition on prod plan
  .github/workflows/xhibit-portal.yml
Owners: @modernisation-platform

Changed prod plan condition
  .github/workflows/xhibit-portal.yml
Owners: @modernisation-platform

changed comment
  .github/workflows/xhibit-portal.yml
Owners: @modernisation-platform

set target ip back to weblogic
  terraform/environments/nomis/loadbalancer.tf
Owners: @studio-webops, @modernisation-platform

fix missing bracket
  terraform/environments/nomis/packer.tf
Owners: @studio-webops, @modernisation-platform

so the arn was wrong
  terraform/environments/nomis/packer.tf
Owners: @studio-webops, @modernisation-platform

also need to add tagging snapshots after they've been created
  terraform/environments/nomis/packer.tf
Owners: @studio-webops, @modernisation-platform

add database rules
  terraform/environments/xhibit-portal/database-server.tf
Owners: @xhibit-portal-dev, @modernisation-platform

allow all traffic from portal server
  terraform/environments/xhibit-portal/cjim-server.tf
  terraform/environments/xhibit-portal/cjip-server.tf
Owners: @xhibit-portal-dev, @modernisation-platform

allow all traffic from portal server
  terraform/environments/xhibit-portal/cjim-server.tf
  terraform/environments/xhibit-portal/cjip-server.tf
  terraform/environments/xhibit-portal/portal-server.tf
Owners: @xhibit-portal-dev, @modernisation-platform

change firewall rules
  terraform/environments/xhibit-portal/cjip-server.tf
Owners: @xhibit-portal-dev, @modernisation-platform

allow ingress to LB from pttp and jumpserver only
  terraform/environments/nomis/loadbalancer.tf
Owners: @studio-webops, @modernisation-platform
