Repository ministryofjustice/modernisation-platform-environments, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ministryofjustice/modernisation-platform, @ministryofjustice/laa-aws-infrastructure, @ministryofjustice/laa-ccms-migration-team, @ministryofjustice/modernisation-platform-security, @ministryofjustice/data-and-insights-hub, @ministryofjustice/hmpps-migration, @ministryofjustice/hmpps-digital-prison-reporting, @ministryofjustice/modernisation-platform-engineers, @ministryofjustice/studio-webops, @ministryofjustice/performance-hub-developers, @ministryofjustice/ppud-replacement-devs, @ministryofjustice/hmpps-interventions-dev, @ministryofjustice/hmpps-interventions-dashboard-access, @ministryofjustice/cica, @ministryofjustice/dts-heritage-services, @ministryofjustice/xhibit-portal-dev

.github/CODEOWNERS:

# This file is auto-generated here, do not manually amend.
# https://github.com/ministryofjustice/modernisation-platform/blob/main/scripts/provision-member-directories.sh

* @ministryofjustice/modernisation-platform
/terraform/environments/apex @ministryofjustice/laa-aws-infrastructure @ministryofjustice/modernisation-platform
/terraform/environments/ccms-ebs @ministryofjustice/laa-ccms-migration-team @ministryofjustice/modernisation-platform
/terraform/environments/ccms-ebs @ministryofjustice/modernisation-platform-security @ministryofjustice/modernisation-platform
/terraform/environments/ccms-ebs @ministryofjustice/laa-ccms-migration-team @ministryofjustice/modernisation-platform
/terraform/environments/ccms-ebs @ministryofjustice/modernisation-platform-security @ministryofjustice/modernisation-platform
/terraform/environments/ccms-ebs @ministryofjustice/laa-ccms-migration-team @ministryofjustice/modernisation-platform
/terraform/environments/ccms-ebs @ministryofjustice/modernisation-platform-security @ministryofjustice/modernisation-platform
/terraform/environments/ccms-ebs @ministryofjustice/laa-ccms-migration-team @ministryofjustice/modernisation-platform
/terraform/environments/ccms-ebs @ministryofjustice/modernisation-platform-security @ministryofjustice/modernisation-platform
/terraform/environments/data-and-insights-wepi @ministryofjustice/data-and-insights-hub @ministryofjustice/modernisation-platform
/terraform/environments/delius-core @ministryofjustice/hmpps-migration @ministryofjustice/modernisation-platform
/terraform/environments/delius-iaps @ministryofjustice/hmpps-migration @ministryofjustice/modernisation-platform
/terraform/environments/delius-jitbit @ministryofjustice/hmpps-migration @ministryofjustice/modernisation-platform
/terraform/environments/digital-prison-reporting @ministryofjustice/hmpps-digital-prison-reporting @ministryofjustice/modernisation-platform
/terraform/environments/equip @ministryofjustice/modernisation-platform-engineers @ministryofjustice/modernisation-platform
/terraform/environments/example @ministryofjustice/modernisation-platform @ministryofjustice/modernisation-platform
/terraform/environments/laa-oem @ministryofjustice/laa-ccms-migration-team @ministryofjustice/modernisation-platform
/terraform/environments/long-term-storage @ministryofjustice/modernisation-platform @ministryofjustice/modernisation-platform
/terraform/environments/maatdb @ministryofjustice/laa-aws-infrastructure @ministryofjustice/modernisation-platform
/terraform/environments/mlra @ministryofjustice/laa-aws-infrastructure @ministryofjustice/modernisation-platform
/terraform/environments/nomis-combined-reporting @ministryofjustice/studio-webops @ministryofjustice/modernisation-platform
/terraform/environments/nomis-data-hub @ministryofjustice/studio-webops @ministryofjustice/modernisation-platform
/terraform/environments/nomis @ministryofjustice/studio-webops @ministryofjustice/modernisation-platform
/terraform/environments/oas @ministryofjustice/laa-aws-infrastructure @ministryofjustice/modernisation-platform
/terraform/environments/oasys @ministryofjustice/studio-webops @ministryofjustice/modernisation-platform
/terraform/environments/performance-hub @ministryofjustice/performance-hub-developers @ministryofjustice/modernisation-platform
/terraform/environments/ppud @ministryofjustice/modernisation-platform @ministryofjustice/modernisation-platform
/terraform/environments/ppud @ministryofjustice/ppud-replacement-devs @ministryofjustice/modernisation-platform
/terraform/environments/refer-monitor @ministryofjustice/hmpps-interventions-dev @ministryofjustice/modernisation-platform
/terraform/environments/refer-monitor @ministryofjustice/hmpps-interventions-dashboard-access @ministryofjustice/modernisation-platform
/terraform/environments/sprinkler @ministryofjustice/modernisation-platform @ministryofjustice/modernisation-platform
/terraform/environments/tariff @ministryofjustice/cica @ministryofjustice/modernisation-platform
/terraform/environments/testing @ministryofjustice/modernisation-platform @ministryofjustice/modernisation-platform
/terraform/environments/tipstaff @ministryofjustice/dts-heritage-services @ministryofjustice/modernisation-platform
/terraform/environments/xhibit-portal @ministryofjustice/xhibit-portal-dev @ministryofjustice/modernisation-platform
**/providers.tf @ministryofjustice/modernisation-platform
**/backend.tf @ministryofjustice/modernisation-platform
**/subnet_share.tf @ministryofjustice/modernisation-platform
**/networking.auto.tfvars.json @ministryofjustice/modernisation-platform
**/platform_*.tf @ministryofjustice/modernisation-platform
/terraform/modules

change DB subnet to public
  terraform/environments/tipstaff/rds.tf
Owners: @ministryofjustice/dts-heritage-services, @ministryofjustice/modernisation-platform

Violation Bucket, fixing Lifecycle rule to Enabled
  terraform/environments/digital-prison-reporting/modules/s3_bucket/main.tf
Owners: @ministryofjustice/hmpps-digital-prison-reporting, @ministryofjustice/modernisation-platform

..
  terraform/environments/oasys/locals.tf
Owners: @ministryofjustice/studio-webops, @ministryofjustice/modernisation-platform

Adjust Lifecycle rule to Enabled
  terraform/environments/digital-prison-reporting/modules/s3_bucket/main.tf
Owners: @ministryofjustice/hmpps-digital-prison-reporting, @ministryofjustice/modernisation-platform

..
  terraform/environments/oasys/locals.tf
  terraform/environments/oasys/main.tf
Owners: @ministryofjustice/studio-webops, @ministryofjustice/modernisation-platform

..
  terraform/environments/oasys/locals.tf
Owners: @ministryofjustice/studio-webops, @ministryofjustice/modernisation-platform

use re-usable pipeline
  .github/workflows/nomis-data-hub.yml
Owners: @ministryofjustice/modernisation-platform

put things in different VPCs
  terraform/environments/tipstaff/ec2.tf
  terraform/environments/tipstaff/load_balancer.tf
  terraform/environments/tipstaff/rds.tf
Owners: @ministryofjustice/dts-heritage-services, @ministryofjustice/modernisation-platform

..
  terraform/environments/oasys/main.tf
Owners: @ministryofjustice/studio-webops, @ministryofjustice/modernisation-platform
