Repository ministryofjustice/modernisation-platform-environments, pull requests merged in 2024-02, with the labels that each got.

#4784 ELM-1447 add access details for pen tester
  terraform/environments/electronic-monitoring-data/locals.tf
  terraform/environments/electronic-monitoring-data/main.tf
  terraform/environments/electronic-monitoring-data/modules/landing_zone/main.tf
  terraform/environments/electronic-monitoring-data/modules/landing_zone/variables.tf
Labels: environments-repository

#4758 LAWS-3608: ECS for MAAT for MAAT to MP
  terraform/environments/maat/api-cw.tf
  terraform/environments/maat/application_variables.json
  terraform/environments/maat/maat-ec2-user-data.sh
  terraform/environments/maat/maat-ecs.tf
  terraform/environments/maat/maat-task-definition.json
Labels: environments-repository

#4789 Update 010224 2
  terraform/environments/ppud/sns.tf
Labels: environments-repository

#4787 DSOS-2560: new version of ASG module fixing target group healthcheck
  terraform/environments/hmpps-domain-services/locals_rds.tf
  terraform/environments/nomis-combined-reporting/locals_tomcat_admin.tf
  terraform/environments/nomis/locals_weblogic.tf
  terraform/environments/oasys/locals.tf
  terraform/modules/baseline/ec2_autoscaling_group.tf
  terraform/modules/baseline/variables.tf
Labels: environments-repository

#4792 Update 010224 4
  terraform/environments/ppud/iam.tf
  terraform/environments/ppud/sns.tf
Labels: environments-repository

#4794 increase rds connection broker instance memory
  terraform/environments/hmpps-domain-services/locals_production.tf
Labels: environments-repository

#4795 Nit 1051 delius core refactor frontend load balancer
  terraform/environments/delius-core/locals_development.tf
  terraform/environments/delius-core/locals_test.tf
  terraform/environments/delius-core/modules/components/delius_microservice/alb_reg.tf
  terraform/environments/delius-core/modules/components/delius_microservice/variables.tf
  terraform/environments/delius-core/modules/environment_all_components/delius_frontend_alb.tf
  terraform/environments/delius-core/modules/environment_all_components/dns.tf
  terraform/environments/delius-core/modules/environment_all_components/variables.tf
Labels: environments-repository

#4797 onr db down
  terraform/environments/oasys/locals_preproduction.tf
Labels: environments-repository

#4798 onr db up
  terraform/environments/oasys/locals_preproduction.tf
Labels: environments-repository

#4800 burn down pd-rds-1-b, apply domain join automatically and move fwd
  terraform/environments/hmpps-domain-services/lambda.tf
  terraform/environments/hmpps-domain-services/locals.tf
  terraform/environments/hmpps-domain-services/locals_production.tf
  terraform/environments/hmpps-domain-services/locals_security_groups.tf
  terraform/environments/hmpps-domain-services/templates/user-data-domain-join.yaml
Labels: environments-repository

#4802 onr db down
  terraform/environments/oasys/locals_preproduction.tf
Labels: environments-repository

#4803 onr db up
  terraform/environments/oasys/locals_preproduction.tf
Labels: environments-repository

#4801 Update the Global Protect VPN IPs
  terraform/environments/sprinkler/main.tf
Labels: environments-repository

#4805 hmpps: DSOS-2560: rdp security group fix
  terraform/environments/hmpps-domain-services/locals_security_groups.tf
Labels: environments-repository

#4790 Laws 3611 cf waf
  terraform/environments/maat/api-cognito.tf
  terraform/environments/maat/api-cw.tf
  terraform/environments/maat/api-ecs.tf
  terraform/environments/maat/api-gw.tf
  terraform/environments/maat/api-sg.tf
  terraform/environments/maat/application_variables.json
  terraform/environments/maat/cloudfront.tf
  terraform/environments/maat/maat-ecs.tf
  terraform/environments/maat/maat-ext-lb.tf
  terraform/environments/maat/waf.tf
  terraform/environments/maat/waf_ip_set.txt
Labels: environments-repository

#4807 csr: add log group for CW agent config doc
  terraform/environments/corporate-staff-rostering/locals.tf
Labels: environments-repository

#4808 hmpps: DSOS-2560: Create new ACM cert include PlanetFM domains
  terraform/environments/hmpps-domain-services/locals_preproduction.tf
  terraform/environments/hmpps-domain-services/locals_production.tf
Labels: environments-repository

#4736 Nit 1057 delius deploy weblogic eis ecs service in dev
  terraform/environments/delius-core/locals.tf
  terraform/environments/delius-core/locals_development.tf
  terraform/environments/delius-core/locals_environments_all.tf
  terraform/environments/delius-core/locals_test.tf
  terraform/environments/delius-core/main_development.tf
  terraform/environments/delius-core/main_test.tf
  terraform/environments/delius-core/modules/components/delius_microservice/alb_reg.tf
  terraform/environments/delius-core/modules/components/delius_microservice/ecs.tf
  terraform/environments/delius-core/modules/components/delius_microservice/main.tf
  terraform/environments/delius-core/modules/components/delius_microservice/variables.tf
  terraform/environments/delius-core/modules/components/ldap/efs.tf
  terraform/environments/delius-core/modules/components/oracle_db_shared/key_pairs.tf
  terraform/environments/delius-core/modules/environment_all_components/common_ec2.tf
  terraform/environments/delius-core/modules/environment_all_components/delius_frontend_alb.tf
  terraform/environments/delius-core/modules/environment_all_components/gdpr_api_service.tf
  terraform/environments/delius-core/modules/environment_all_components/gdpr_ui_service.tf
  terraform/environments/delius-core/modules/environment_all_components/ldap_params.tf
  terraform/environments/delius-core/modules/environment_all_components/merge_api_service.tf
  terraform/environments/delius-core/modules/environment_all_components/merge_ui_service.tf
  terraform/environments/delius-core/modules/environment_all_components/pdfcreation.tf
  terraform/environments/delius-core/modules/environment_all_components/ssm.tf
  terraform/environments/delius-core/modules/environment_all_components/variables.tf
  terraform/environments/delius-core/modules/environment_all_components/weblogic.tf
  terraform/environments/delius-core/modules/environment_all_components/weblogic_eis.tf
  terraform/environments/delius-core/modules/environment_all_components/weblogic_params.tf
Labels: environments-repository

#4809 DSOS-2560: Remove unused planet servers and setup RDWeb cert and DNS entry
  terraform/environments/planetfm/locals_preproduction.tf
  terraform/environments/planetfm/locals_production.tf
Labels: environments-repository

#4806 add alarms for production lb and training servers in preprod
  terraform/environments/corporate-staff-rostering/locals_preproduction.tf
  terraform/environments/corporate-staff-rostering/locals_production.tf
Labels: environments-repository

#4810 DSOS-2560: PlanetFM fix for deleting servers part 1
  terraform/environments/planetfm/locals_preproduction.tf
  terraform/environments/planetfm/locals_production.tf
Labels: environments-repository

#4811 planetfm: DSOS-2560: second attempt at deleting unused planetfm servers
  terraform/environments/planetfm/locals_preproduction.tf
  terraform/environments/planetfm/locals_production.tf
  terraform/environments/planetfm/locals_test.tf
Labels: environments-repository

#4813 GDPR config test
  terraform/environments/delius-core/locals_test.tf
Labels: environments-repository

#4814 Hardcode ami by change regex to full string
  terraform/environments/delius-core/locals_development.tf
  terraform/environments/delius-core/locals_test.tf
  terraform/environments/delius-core/modules/environment_all_components/database.tf
Labels: environments-repository

#4818 Cleanup db locals for delius core
  terraform/environments/delius-core/locals_development.tf
  terraform/environments/delius-core/locals_test.tf
  terraform/environments/delius-core/modules/components/oracle_db_shared/iam.tf
  terraform/environments/delius-core/modules/components/oracle_db_shared/secrets.tf
  terraform/environments/delius-core/modules/environment_all_components/database.tf
  terraform/environments/delius-core/modules/environment_all_components/variables.tf
Labels: environments-repository

#4819 hmpps: remove old RDS test infra
  terraform/environments/hmpps-domain-services/locals_preproduction.tf
  terraform/environments/hmpps-domain-services/locals_production.tf
Labels: environments-repository

#4822 hmpps: DSOS-2560: rebuild RDS servers
  terraform/environments/hmpps-domain-services/locals_preproduction.tf
  terraform/environments/hmpps-domain-services/locals_production.tf
Labels: environments-repository

#4820 ELM-1458 add civica access credentials
  terraform/environments/electronic-monitoring-data/main.tf
Labels: environments-repository

#4825 hmpps: DSOS-2560: rdp fixes v5
  terraform/environments/hmpps-domain-services/locals_preproduction.tf
  terraform/environments/hmpps-domain-services/locals_production.tf
Labels: environments-repository

#4827 Delius Core Add eis lb attachment
  terraform/environments/delius-core/modules/environment_all_components/weblogic_eis.tf
Labels: environments-repository

#4831 Update_050224
  terraform/environments/ppud/cloudwatch_windows.tf
Labels: environments-repository

#4815 DPR2-46: Add configurable args to glue job descriptions
  terraform/environments/digital-prison-reporting/data_ingestion_pipeline.tf
  terraform/environments/digital-prison-reporting/main.tf
  terraform/environments/digital-prison-reporting/modules/domains/ingestion-jobs/glue.tf
  terraform/environments/digital-prison-reporting/modules/domains/ingestion-jobs/variables.tf
Labels: environments-repository

#4836 Revert "csr: add log group for CW agent config doc"
  terraform/environments/corporate-staff-rostering/locals.tf
Labels: environments-repository

#4837 PRA: whitelist IPs, remove MoJ vpn IP, remove db migration scripts
  terraform/environments/pra-register/application_variables.json
  terraform/environments/pra-register/load_balancer.tf
  terraform/environments/pra-register/migrate_db.sh
  terraform/environments/pra-register/rds.tf
  terraform/environments/pra-register/setup-security-group-development.sh
  terraform/environments/pra-register/setup-security-group-preproduction.sh
  terraform/environments/pra-register/setup-security-group-production.sh
Labels: environments-repository

#4838 create alarms for network lb host health
  terraform/environments/corporate-staff-rostering/locals_preproduction.tf
  terraform/environments/corporate-staff-rostering/locals_production.tf
  terraform/modules/baseline_presets/cloudwatch_metric_alarms.tf
Labels: environments-repository

#4826 Change to instance managed ebs volumes (and LDAP change)
  terraform/environments/delius-core/application_variables.json
  terraform/environments/delius-core/modules/components/oracle_db_instance/instance.tf
Labels: environments-repository

#4839 PRA: Update PostgreSQL engine version to 14.10
  terraform/environments/pra-register/application_variables.json
Labels: environments-repository

#4821 General kms key and policy for secrets
  terraform/environments/delius-core/modules/components/oracle_db_shared/locals.tf
  terraform/environments/delius-core/modules/components/oracle_db_shared/secrets.tf
  terraform/environments/delius-core/modules/components/oracle_db_shared/variables.tf
  terraform/environments/delius-core/modules/environment_all_components/database.tf
Labels: environments-repository

#4834 NIT-1056 Added community API service
  terraform/environments/delius-core/modules/environment_all_components/community_api.tf
  terraform/environments/delius-core/modules/environment_all_components/community_api_params.tf
Labels: environments-repository

#4844 upsize onr db
  terraform/environments/oasys/locals.tf
  terraform/environments/oasys/locals_preproduction.tf
Labels: environments-repository

#4840 remove test alarm
  terraform/environments/corporate-staff-rostering/locals_preproduction.tf
Labels: environments-repository

#4843 adding kms keys and additional cloudwatch log group for ec2 to MAAT infrastructure
  terraform/environments/maat/maat-ecs.tf
Labels: environments-repository

#4845 csr: refactor ssm doc terraform
  terraform/environments/corporate-staff-rostering/ec2_common.tf
Labels: environments-repository

#4848 csr: remove `moved` blocks
  terraform/environments/corporate-staff-rostering/ec2_common.tf
Labels: environments-repository

#4852 NIT-1053 adding password-reset service
  terraform/environments/delius-core/modules/environment_all_components/password_reset_service.tf
  terraform/environments/delius-core/modules/environment_all_components/templates/PwmConfiguration.xml.tpl
Labels: environments-repository

#4855 nomis: add PPCNOMHA secret
  terraform/environments/nomis/locals_preproduction.tf
Labels: environments-repository

#4850 Tipstaff: Remove moj_ip and update user and vpn ips in load_balancer.tf
  terraform/environments/tipstaff/application_variables.json
  terraform/environments/tipstaff/load_balancer.tf
Labels: environments-repository

#4849 LAWS-3640: Remove API Gateway route not needed
  terraform/environments/maat/api-gw.tf
Labels: environments-repository

#4856 Tipstaff: Update PostgreSQL engine version to 14.10
  terraform/environments/tipstaff/application_variables.json
Labels: environments-repository

#4851 NCAS: Update IP addresses and remove security group setup scripts
  terraform/environments/ncas/application_variables.json
  terraform/environments/ncas/load_balancer.tf
  terraform/environments/ncas/migrate_db.sh
  terraform/environments/ncas/rds.tf
  terraform/environments/ncas/setup-security-group-development.sh
  terraform/environments/ncas/setup-security-group-preproduction.sh
  terraform/environments/ncas/setup-security-group-production.sh
Labels: environments-repository

#4854 DACP: Update load balancer security group ips
  terraform/environments/dacp/application_variables.json
  terraform/environments/dacp/load_balancer.tf
Labels: environments-repository

#4859 csr: define log groups for ssm docs
  terraform/environments/corporate-staff-rostering/ec2_common.tf
  terraform/environments/corporate-staff-rostering/locals.tf
Labels: environments-repository

#4862 Nit 1054 delius deploy umt ecs service
  terraform/environments/delius-core/locals_development.tf
  terraform/environments/delius-core/locals_test.tf
  terraform/environments/delius-core/main_development.tf
  terraform/environments/delius-core/main_test.tf
  terraform/environments/delius-core/modules/environment_all_components/user_management.tf
  terraform/environments/delius-core/modules/environment_all_components/variables.tf
Labels: environments-repository

#4865 hmpp: add smtp relay
  terraform/environments/hmpps-domain-services/locals_production.tf
Labels: environments-repository

#4847 ELM-1463 Refactor sftp server user code generation
  terraform/environments/electronic-monitoring-data/locals.tf
  terraform/environments/electronic-monitoring-data/main.tf
  terraform/environments/electronic-monitoring-data/modules/landing_zone/landing_zone_user/main.tf
  terraform/environments/electronic-monitoring-data/modules/landing_zone/landing_zone_user/variables.tf
  terraform/environments/electronic-monitoring-data/modules/landing_zone/main.tf
  terraform/environments/electronic-monitoring-data/modules/landing_zone/server_security_group/main.tf
  terraform/environments/electronic-monitoring-data/modules/landing_zone/server_security_group/outputs.tf
  terraform/environments/electronic-monitoring-data/modules/landing_zone/server_security_group/variables.tf
  terraform/environments/electronic-monitoring-data/modules/landing_zone/variables.tf
Labels: environments-repository

#4866 New files for terraform/environments
  .github/CODEOWNERS
  .github/workflows/cortex-xsiam.yml
  terraform/environments/cortex-xsiam/README.md
  terraform/environments/cortex-xsiam/application_variables.json
  terraform/environments/cortex-xsiam/data.tf
  terraform/environments/cortex-xsiam/locals.tf
  terraform/environments/cortex-xsiam/networking.auto.tfvars.json
  terraform/environments/cortex-xsiam/platform_backend.tf
  terraform/environments/cortex-xsiam/platform_base_variables.tf
  terraform/environments/cortex-xsiam/platform_data.tf
  terraform/environments/cortex-xsiam/platform_locals.tf
  terraform/environments/cortex-xsiam/platform_providers.tf
  terraform/environments/cortex-xsiam/platform_secrets.tf
  terraform/environments/cortex-xsiam/platform_versions.tf
  terraform/environments/cortex-xsiam/secrets.tf
Labels: environments-repository, github-workflow

#4869 DSOS-2525:swap dns to aws
  terraform/environments/nomis-data-hub/locals_test.tf
Labels: environments-repository

#4871 nomis: extend T1/T3 disks
  terraform/environments/nomis/locals_test.tf
Labels: environments-repository

#4872 New files for terraform/environments
  terraform/environments/cortex-xsiam/networking.auto.tfvars.json
Labels: environments-repository

#4873 DSOS-2525:remove the old test vms
  terraform/environments/nomis-data-hub/locals_test.tf
Labels: environments-repository

#4867 NIT-1038 + NIT-1041 example SG allowing connectivity with legacy
  terraform/environments/delius-mis/application_variables.json
  terraform/environments/delius-mis/temp-ec2.tf
Labels: environments-repository

#4870 Laws 3609: ECS Service for MAAT and var renaming
  terraform/environments/maat/application_variables.json
  terraform/environments/maat/maat-ecs.tf
Labels: environments-repository

#4875 nomis: disable pagerduty alerts for disconnected Oracle DBs
  terraform/environments/nomis/locals_database.tf
  terraform/modules/baseline_presets/cloudwatch_metric_alarms.tf
Labels: environments-repository

#4883 remove un-needed planetfm prod servers
  terraform/environments/planetfm/locals_production.tf
Labels: environments-repository

#4884 set allow termination on instances to be killed
  terraform/environments/planetfm/locals_production.tf
Labels: environments-repository

#4885 delete instances
  terraform/environments/planetfm/locals_production.tf
Labels: environments-repository

#4887 move disable_api_termination and other commands
  terraform/environments/planetfm/locals_defaults.tf
  terraform/environments/planetfm/locals_preproduction.tf
  terraform/environments/planetfm/locals_production.tf
Labels: environments-repository

#4882 LAWS-3610: Add in certs for LBs
  terraform/environments/maat/application_variables.json
  terraform/environments/maat/cloudfront.tf
  terraform/environments/maat/data.tf
  terraform/environments/maat/locals.tf
  terraform/environments/maat/maat-ext-lb.tf
Labels: environments-repository

#4888 add more volumes to prod db instances
  terraform/environments/planetfm/locals_production.tf
Labels: environments-repository

#4890 DSOS-2548 - SSM document for enabling WinRM HTTPS
  terraform/environments/hmpps-domain-services/ec2_common.tf
  terraform/environments/hmpps-domain-services/ssm-documents/winrm_https.yaml
Labels: environments-repository

#4891 DSOS: add PCNOMHA nomis secret
  terraform/environments/nomis/locals_production.tf
Labels: environments-repository

#4857 Delius Core listener rules + database user data
  terraform/environments/delius-core/locals.tf
  terraform/environments/delius-core/modules/components/delius_microservice/alb_reg.tf
  terraform/environments/delius-core/modules/environment_all_components/community_api.tf
  terraform/environments/delius-core/modules/environment_all_components/database.tf
  terraform/environments/delius-core/modules/environment_all_components/delius_frontend_alb.tf
  terraform/environments/delius-core/modules/environment_all_components/gdpr_api_service.tf
  terraform/environments/delius-core/modules/environment_all_components/gdpr_ui_service.tf
  terraform/environments/delius-core/modules/environment_all_components/ldap_ecs.tf
  terraform/environments/delius-core/modules/environment_all_components/ldap_efs.tf
  terraform/environments/delius-core/modules/environment_all_components/ldap_nlb.tf
  terraform/environments/delius-core/modules/environment_all_components/ldap_s3.tf
  terraform/environments/delius-core/modules/environment_all_components/locals.tf
  terraform/environments/delius-core/modules/environment_all_components/merge_api_service.tf
  terraform/environments/delius-core/modules/environment_all_components/merge_ui_service.tf
  terraform/environments/delius-core/modules/environment_all_components/password_reset_service.tf
  terraform/environments/delius-core/modules/environment_all_components/weblogic.tf
  terraform/environments/delius-core/modules/environment_all_components/weblogic_eis.tf
  terraform/environments/delius-core/modules/environment_all_components/weblogic_service.tf
Labels: environments-repository

#4892 DPR2-46: Remove unused lambdas
  terraform/environments/digital-prison-reporting/application_variables.json
  terraform/environments/digital-prison-reporting/locals.tf
  terraform/environments/digital-prison-reporting/main.tf
Labels: environments-repository

#4889 Fixes for Delius Core ALB listener priorities
  terraform/environments/delius-core/locals_development.tf
  terraform/environments/delius-core/modules/components/delius_microservice/alb_reg.tf
  terraform/environments/delius-core/modules/components/delius_microservice/ecs.tf
  terraform/environments/delius-core/modules/environment_all_components/user_management.tf
Labels: environments-repository

#4886 oasys db monitoring
  terraform/environments/oasys/locals.tf
  terraform/environments/oasys/locals_development.tf
  terraform/environments/oasys/locals_preproduction.tf
  terraform/environments/oasys/locals_production.tf
  terraform/environments/oasys/locals_test.tf
  terraform/environments/oasys/main.tf
Labels: environments-repository

#4858 LASB-2808 Add APP_GOOGLE_ANALYTICS_4_TAG_ID to MLRA task_definition.json
  terraform/environments/mlra/task_definition.json
Labels: environments-repository

#4901 onr db dns
  terraform/environments/oasys/locals_preproduction.tf
Labels: environments-repository

#4897 ELM-1490 Update transfer workflow copy destination
  terraform/environments/electronic-monitoring-data/modules/landing_zone/main.tf
Labels: environments-repository

#4903 ELM-1490 Add upload date as additional directory
  terraform/environments/electronic-monitoring-data/modules/landing_zone/main.tf
Labels: environments-repository

#4896 LAWS-3655: Associating LB to ecs service MAAT
  terraform/environments/maat/application_variables.json
  terraform/environments/maat/maat-ec2-user-data.sh
  terraform/environments/maat/maat-ecs.tf
  terraform/environments/maat/maat-task-definition.json
Labels: environments-repository

#4905 LAWS-3625: tf code for internal load balancer for MAAT
  terraform/environments/maat/api-param.tf
  terraform/environments/maat/maat-ecs.tf
  terraform/environments/maat/maat-int-lb.tf
Labels: environments-repository

#4796 add-ecs-cluster
  terraform/environments/cdpt-ifs/application_variables.json
  terraform/environments/cdpt-ifs/bastion_linux.json
  terraform/environments/cdpt-ifs/bastion_linux.tf
  terraform/environments/cdpt-ifs/ecs.tf
  terraform/environments/cdpt-ifs/loadbalancer.tf
  terraform/environments/cdpt-ifs/locals.tf
  terraform/environments/cdpt-ifs/route53.tf
  terraform/environments/cdpt-ifs/user_data.txt
Labels: environments-repository

#4902 ELM-1496 Add TLS to data store and log buckets
  terraform/environments/electronic-monitoring-data/modules/s3_log_bucket/main.tf
  terraform/environments/electronic-monitoring-data/s3.tf
Labels: environments-repository

#4906 csr test and domain dev lambda iam policies for secret access
  terraform/environments/hmpps-domain-services/lambda.tf
  terraform/environments/hmpps-domain-services/locals_domain.tf
Labels: environments-repository

#4908 ELM-1499 Add access credentials for G4S to their server
  terraform/environments/electronic-monitoring-data/locals.tf
  terraform/environments/electronic-monitoring-data/main.tf
Labels: environments-repository

#4910 invert security group deletion-creation
  terraform/environments/electronic-monitoring-data/modules/landing_zone/server_security_group/main.tf
Labels: environments-repository

#4907 ELM-1498 enable key rotation on KMS key
  terraform/environments/electronic-monitoring-data/modules/landing_zone/main.tf
Labels: environments-repository

#4911 New server request for an upgrade to Power BI
  terraform/environments/equip/main.tf
Labels: environments-repository

#4915 don't create oracle backup alarms in prod yet
  terraform/environments/corporate-staff-rostering/locals_defaults.tf
  terraform/environments/corporate-staff-rostering/locals_production.tf
Labels: environments-repository

#4913 LAWS-3627: Add artifacts S3 bucket
  terraform/environments/maat/application_variables.json
  terraform/environments/maat/artifacts.tf
  terraform/environments/maat/maat-ecs.tf
  terraform/environments/maat/maat-ext-lb.tf
  terraform/environments/maat/maat-int-lb.tf
Labels: environments-repository

#4918 planetfm: format terraform
  terraform/environments/planetfm/locals_preproduction.tf
  terraform/environments/planetfm/locals_production.tf
Labels: environments-repository

#4914 Ifs ecs
  terraform/environments/cdpt-ifs/application_variables.json
Labels: environments-repository

#4927 csr: add test instance to dev
  terraform/environments/corporate-staff-rostering/locals_development.tf
Labels: environments-repository

#4928 Revert "csr: add test instance to dev"
  terraform/environments/corporate-staff-rostering/locals_development.tf
Labels: environments-repository

#4932 NIT-1102 modularise LDAP parameter resources and remove secrets
  terraform/environments/delius-core/modules/components/ldap/outputs.tf
  terraform/environments/delius-core/modules/components/ldap/ssm.tf
  terraform/environments/delius-core/modules/environment_all_components/community_api.tf
  terraform/environments/delius-core/modules/environment_all_components/ldap_backups.tf
  terraform/environments/delius-core/modules/environment_all_components/ldap_datasync.tf
  terraform/environments/delius-core/modules/environment_all_components/password_reset_service.tf
  terraform/environments/delius-core/modules/environment_all_components/weblogic.tf
  terraform/environments/delius-core/modules/environment_all_components/weblogic_eis.tf
Labels: environments-repository

#4931 Add sso-readonly provider to platform_providers
  terraform/environments/apex/platform_providers.tf
  terraform/environments/ccms-ebs-upgrade/platform_providers.tf
  terraform/environments/ccms-ebs/platform_providers.tf
  terraform/environments/cdpt-chaps/platform_providers.tf
  terraform/environments/cdpt-ifs/platform_providers.tf
  terraform/environments/cica-copilot/platform_providers.tf
  terraform/environments/cooker/platform_providers.tf
  terraform/environments/corporate-staff-rostering/platform_providers.tf
  terraform/environments/cortex-xsiam/platform_providers.tf
  terraform/environments/dacp/platform_providers.tf
  terraform/environments/data-and-insights-wepi/platform_providers.tf
  terraform/environments/data-platform-apps-and-tools/platform_providers.tf
  terraform/environments/data-platform-compute/platform_providers.tf
  terraform/environments/data-platform/platform_providers.tf
  terraform/environments/delius-core/platform_providers.tf
  terraform/environments/delius-iaps/platform_providers.tf
  terraform/environments/delius-jitbit/platform_providers.tf
  terraform/environments/delius-mis/platform_providers.tf
  terraform/environments/digital-prison-reporting/platform_providers.tf
  terraform/environments/electronic-monitoring-data/platform_providers.tf
  terraform/environments/equip/platform_providers.tf
  terraform/environments/eric/platform_providers.tf
  terraform/environments/example/identity_store.tf
  terraform/environments/example/platform_providers.tf
  terraform/environments/hmpps-domain-services/platform_providers.tf
  terraform/environments/hmpps-intelligence-management/platform_providers.tf
  terraform/environments/hmpps-oem/platform_providers.tf
  terraform/environments/laa-ccms-infra-azure-ad-sso/platform_providers.tf
  terraform/environments/laa-oem/platform_providers.tf
  terraform/environments/long-term-storage/platform_providers.tf
  terraform/environments/maat/platform_providers.tf
  terraform/environments/maatdb/platform_providers.tf
  terraform/environments/mlra/platform_providers.tf
  terraform/environments/mojfin/platform_providers.tf
  terraform/environments/ncas/platform_providers.tf
  terraform/environments/nomis-combined-reporting/platform_providers.tf
  terraform/environments/nomis-data-hub/platform_providers.tf
  terraform/environments/nomis/platform_providers.tf
  terraform/environments/oas/platform_providers.tf
  terraform/environments/oasys/platform_providers.tf
  terraform/environments/observability-platform/platform_providers.tf
  terraform/environments/performance-hub/platform_providers.tf
  terraform/environments/planetfm/platform_providers.tf
  terraform/environments/portal/platform_providers.tf
  terraform/environments/ppud/platform_providers.tf
  terraform/environments/pra-register/platform_providers.tf
  terraform/environments/refer-monitor/platform_providers.tf
  terraform/environments/sprinkler/platform_providers.tf
  terraform/environments/tariff/platform_providers.tf
  terraform/environments/tipstaff/platform_providers.tf
  terraform/environments/tribunals/platform_providers.tf
  terraform/environments/wardship/platform_providers.tf
  terraform/environments/xhibit-portal/platform_providers.tf
Labels: environments-repository

#4933 Updates to RDGateway SSM Doc
  terraform/environments/hmpps-domain-services/ssm-documents/rds-gateway.yaml
Labels: environments-repository

#4934 Update G4S allow listed IP
  terraform/environments/electronic-monitoring-data/locals.tf
Labels: environments-repository

#4930 add RDS, security groups and secret
  terraform/environments/cdpt-ifs/application_variables.json
  terraform/environments/cdpt-ifs/database.tf
  terraform/environments/cdpt-ifs/ecs.tf
  terraform/environments/cdpt-ifs/s3.tf
  terraform/environments/cdpt-ifs/secrets.tf
Labels: environments-repository

#4935 add missing rules for planetfm db sg
  terraform/environments/planetfm/locals_security_groups.tf
Labels: environments-repository

#4926 Nit 1039 mis build v ms in mp
  terraform/environments/delius-mis/bcs.tf
  terraform/environments/delius-mis/data.tf
Labels: environments-repository

#4941 oasys db access from mp environment
  terraform/environments/oasys/locals_security_groups.tf
Labels: environments-repository

#4940 add http in from end user instances
  terraform/environments/planetfm/locals_security_groups.tf
Labels: environments-repository

#4943 New files for terraform/environments
  .github/CODEOWNERS
Labels: environments-repository

#4942 oasys db add access from jumpservers
  terraform/environments/oasys/locals_security_groups.tf
Labels: environments-repository

#4947 CC-2345: Amend DBF ios for EBS DEV
  terraform/environments/ccms-ebs/application_variables.json
Labels: environments-repository

#4946 oasys add db dns
  terraform/environments/oasys/locals_preproduction.tf
Labels: environments-repository

#4948 add missing rules
  terraform/environments/planetfm/locals_security_groups.tf
Labels: environments-repository

#4937 🎡 Replace dev container local content with centrally published artefacts
  .devcontainer/README.md
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  .devcontainer/features/src/aws/devcontainer-feature.json
  .devcontainer/features/src/aws/install-aws-cli.sh
  .devcontainer/features/src/aws/install-aws-sso-cli.sh
  .devcontainer/features/src/aws/install.sh
  .devcontainer/features/src/aws/src/home/vscode/.aws-sso/config.yaml
  .devcontainer/features/src/aws/src/home/vscode/.devcontainer/feature-completion/aws-sso.sh
  .devcontainer/features/src/aws/src/home/vscode/.devcontainer/feature-completion/aws.sh
  .devcontainer/features/src/base/devcontainer-feature.json
  .devcontainer/features/src/base/install.sh
  .devcontainer/features/src/base/src/home/vscode/.oh-my-zsh/custom/themes/devcontainers.zsh-theme
  .devcontainer/features/src/base/src/usr/local/bin/devcontainer-utils
  .devcontainer/features/src/base/src/usr/local/etc/vscode-dev-containers/first-run-notice.txt
  .devcontainer/features/src/static-analysis/devcontainer-feature.json
  .devcontainer/features/src/static-analysis/install-checkov.sh
  .devcontainer/features/src/static-analysis/install-trivy.sh
  .devcontainer/features/src/static-analysis/install.sh
  .devcontainer/features/src/static-analysis/src/home/vscode/.devcontainer/feature-completion/trivy.sh
  .devcontainer/features/src/terraform/devcontainer-feature.json
  .devcontainer/features/src/terraform/install-terraform-switcher.sh
  .devcontainer/features/src/terraform/install.sh
  .devcontainer/features/src/terraform/src/home/vscode/.devcontainer/feature-completion/terraform.sh
  .devcontainer/features/src/terraform/src/home/vscode/.tfswitch.toml
  .devcontainer/features/test/Containerfile
  .devcontainer/features/test/aws/test.sh
  .devcontainer/features/test/base/test.sh
  .devcontainer/features/test/static-analysis/test.sh
  .devcontainer/features/test/terraform/test.sh
  .github/dependabot.yml
  .github/workflows/devcontainer.yml
  scripts/generate-dependabot-file.sh
Labels: code quality, environments-repository, github-workflow, developer-experience

#4949 oasys pp dns
  terraform/environments/oasys/locals_preproduction.tf
Labels: environments-repository

#5024 temporarily remove listeners
  terraform/environments/oasys/locals_preproduction.tf
Labels: environments-repository

#5023 ELM-1519 Add accounts for each system to be migrated
  terraform/environments/electronic-monitoring-data/locals.tf
  terraform/environments/electronic-monitoring-data/main.tf
Labels: environments-repository

#5029 oasys pp dns add new cert
  terraform/environments/oasys/locals_preproduction.tf
Labels: environments-repository

#5030 oasys dns swap cert
  terraform/environments/oasys/locals_preproduction.tf
Labels: environments-repository

#5031 oasys dns change cert
  terraform/environments/oasys/locals_preproduction.tf
Labels: environments-repository

#5032 oasys pp dns swap back cert
  terraform/environments/oasys/locals_preproduction.tf
Labels: environments-repository

#5033 oasys pp dns remove old cert
  terraform/environments/oasys/locals_preproduction.tf
Labels: environments-repository

#5027 ELM-1519 rename test accounts for clarity
  terraform/environments/electronic-monitoring-data/locals.tf
  terraform/environments/electronic-monitoring-data/main.tf
Labels: environments-repository

#5035 oasys pp sg add azure oasys app
  terraform/environments/oasys/locals_security_groups.tf
Labels: environments-repository

#5036 oasys db sec group additions
  terraform/environments/oasys/locals_security_groups.tf
Labels: environments-repository

#4936 fix internal record + external record + TLS listener for LDAP
  terraform/environments/delius-core/modules/components/ldap/dns.tf
  terraform/environments/delius-core/modules/components/ldap/ldap_policies.tf
  terraform/environments/delius-core/modules/components/ldap/locals.tf
  terraform/environments/delius-core/modules/components/ldap/nlb.tf
  terraform/environments/delius-core/modules/components/ldap/outputs.tf
  terraform/environments/delius-core/modules/components/ldap/sg.tf
  terraform/environments/delius-core/modules/components/ldap/ssm.tf
  terraform/environments/delius-core/modules/ecs_policies/main.tf
  terraform/environments/delius-core/modules/environment_all_components/password_reset_service.tf
  terraform/environments/delius-core/modules/environment_all_components/ssm.tf
  terraform/environments/delius-core/modules/environment_all_components/weblogic.tf
  terraform/environments/delius-core/modules/environment_all_components/weblogic_eis.tf
  terraform/environments/delius-core/modules/nlb/main.tf
  terraform/environments/delius-core/modules/nlb/outputs.tf
  terraform/environments/delius-core/modules/nlb/variables.tf
Labels: environments-repository

#5038 merge service RDS added
  terraform/environments/delius-core/locals_development.tf
  terraform/environments/delius-core/locals_environments_all.tf
  terraform/environments/delius-core/locals_test.tf
  terraform/environments/delius-core/modules/components/delius_microservice/elasticache.tf
  terraform/environments/delius-core/modules/components/delius_microservice/rds.tf
  terraform/environments/delius-core/modules/components/delius_microservice/sg.tf
  terraform/environments/delius-core/modules/environment_all_components/merge_api_service.tf
  terraform/environments/delius-core/modules/environment_all_components/variables.tf
Labels: environments-repository

#5040 LAWS-3612: Adding cloudwatch alarms and subscription
  terraform/environments/maat/application_variables.json
  terraform/environments/maat/locals.tf
  terraform/environments/maat/maat-cw.tf
  terraform/environments/maat/maat-ecs.tf
  terraform/environments/maat/maat-task-definition.json
Labels: environments-repository

#4945 Test to automate domain join + configure gateway
  terraform/environments/hmpps-domain-services/locals_development.tf
  terraform/environments/hmpps-domain-services/templates/rds-gateway-user-data.yaml
Labels: environments-repository

#5039 DPR2-46: Recreate Hive tables during the reload
  terraform/environments/digital-prison-reporting/modules/domains/reload-pipeline/pipeline.tf
  terraform/environments/digital-prison-reporting/modules/domains/reload-pipeline/variables.tf
Labels: environments-repository

#5048 Delius core/nit 1078/rds merge correction
  terraform/environments/delius-core/modules/components/delius_microservice/rds.tf
  terraform/environments/delius-core/modules/environment_all_components/merge_api_service.tf
Labels: environments-repository

#5050 RDS gateway user data update
  terraform/environments/hmpps-domain-services/ssm-documents/rds-gateway.yaml
  terraform/environments/hmpps-domain-services/templates/rds-gateway-user-data.yaml
Labels: environments-repository

#5044 LAWS-3623: Creating AWS Params for secure params and secrets storage
  terraform/environments/maat/application_variables.json
  terraform/environments/maat/maat-ecs.tf
  terraform/environments/maat/maat-param.tf
  terraform/environments/maat/maat-task-definition.json
Labels: environments-repository

#5052 DSOS-2581: update hmpp-domain-services windows scripts to use config repo
  terraform/environments/hmpps-domain-services/locals_test.tf
  terraform/environments/hmpps-domain-services/ssm-documents/windows-domain-join.yaml
  terraform/environments/hmpps-domain-services/ssm-documents/windows-domain-leave.yaml
  terraform/environments/hmpps-domain-services/templates/user-data-pwsh.yaml
Labels: environments-repository

#5053 change alarms for db instances to cope with refresh duration
  terraform/environments/corporate-staff-rostering/locals_defaults.tf
Labels: environments-repository

#5054 Add missing field for rds ssm document
  terraform/environments/hmpps-domain-services/ssm-documents/rds-gateway.yaml
Labels: environments-repository

#5051 merge RDS variables corrected
  terraform/environments/delius-core/locals_development.tf
  terraform/environments/delius-core/modules/components/delius_microservice/rds.tf
  terraform/environments/delius-core/modules/components/delius_microservice/variables.tf
  terraform/environments/delius-core/modules/environment_all_components/merge_api_service.tf
Labels: environments-repository

#5057 Reference latest windows server ami
  terraform/environments/hmpps-domain-services/locals_development.tf
Labels: environments-repository

#5059 oasys allow sudio hosting
  terraform/environments/oasys/locals_security_groups.tf
Labels: environments-repository

#5060 oasys allow even more
  terraform/environments/oasys/locals_security_groups.tf
Labels: environments-repository

#5062 Add trustedhost for winrm and get tags from ssm doc
  terraform/environments/hmpps-domain-services/ssm-documents/rds-gateway.yaml
  terraform/environments/hmpps-domain-services/templates/rds-gateway-user-data.yaml
Labels: environments-repository

#5058 PowerBi server changes
  terraform/environments/equip/application_variables.json
  terraform/environments/equip/main.tf
  terraform/environments/equip/securitygroup.tf
Labels: environments-repository

#5042 ELM Rotate civica public ssh key
  terraform/environments/electronic-monitoring-data/locals.tf
Labels: environments-repository

#5043 ELM-1524 Implement event driven lambda for calculating checksums
  terraform/environments/electronic-monitoring-data/calculate_checksum_lambda.py
  terraform/environments/electronic-monitoring-data/data.tf
  terraform/environments/electronic-monitoring-data/data_store.tf
  terraform/environments/electronic-monitoring-data/s3.tf
  terraform/environments/electronic-monitoring-data/summarise_zip_lambda.py
Labels: environments-repository

#5065 DSOS-2615: add IPs for Mod Platform DCs
  terraform/modules/ip_addresses/modernisation_platform.tf
  terraform/modules/ip_addresses/outputs.tf
Labels: environments-repository

#5056 LAWS-3612: Adding cloudwatch alarms and sns topic and dashboard for MAAT
  terraform/environments/maat/api-cw.tf
  terraform/environments/maat/api-ecs.tf
  terraform/environments/maat/application_variables.json
  terraform/environments/maat/maat-cw.tf
  terraform/environments/maat/maat-ecs.tf
Labels: environments-repository

#4876 Feature/sg issues
  terraform/environments/nomis-combined-reporting/locals_bip_cms.tf
  terraform/environments/nomis-combined-reporting/locals_preproduction.tf
  terraform/environments/nomis-combined-reporting/locals_security_groups.tf
  terraform/environments/nomis-combined-reporting/locals_test.tf
  terraform/environments/nomis-combined-reporting/locals_tomcat_admin.tf
Labels: environments-repository

#5067 Upgrade win 2022 version in test environment
  terraform/environments/hmpps-domain-services/locals_test.tf
Labels: environments-repository

#5049 LDAP Migration, EFS - deletion protection
  terraform/environments/delius-core/locals_development.tf
  terraform/environments/delius-core/locals_environments_all.tf
  terraform/environments/delius-core/locals_test.tf
  terraform/environments/delius-core/modules/components/ldap/cloudwatch.tf
  terraform/environments/delius-core/modules/components/ldap/sg.tf
  terraform/environments/delius-core/modules/efs/efs.tf
  terraform/environments/delius-core/modules/environment_all_components/variables.tf
Labels: environments-repository

#5070 CC-2383: NonProd FTP and MailRelay scheduling to stop out of hours
  terraform/environments/ccms-ebs/ccms-ec2-ftp.tf
  terraform/environments/ccms-ebs/ccms-ec2-mailrelay.tf
Labels: environments-repository

#5072 ELM Change checksum lambda to work with large files
  terraform/environments/electronic-monitoring-data/calculate_checksum_lambda.py
  terraform/environments/electronic-monitoring-data/data_store.tf
Labels: environments-repository

#5069 GDPR initial config RDS
  terraform/environments/delius-core/locals_development.tf
  terraform/environments/delius-core/modules/components/delius_microservice/rds.tf
  terraform/environments/delius-core/modules/environment_all_components/gdpr_api_service.tf
  terraform/environments/delius-core/modules/environment_all_components/variables.tf
Labels: environments-repository

#5073 Add M Aspin to dc bastions
  terraform/environments/delius-core/bastion_linux.json
Labels: environments-repository

#5074 test fix
  terraform/environments/delius-core/locals_test.tf
Labels: environments-repository

#5071 CC-2378: Terminate the ec2-ccms-ebs-development-ebsdb-dr-test instance in ccms-ebs-development.
  terraform/environments/ccms-ebs/application_variables.json
  terraform/environments/ccms-ebs/ccms-ec2-oracle_ebs_dr_testing.tf
  terraform/environments/ccms-ebs/member-data.tf
Labels: environments-repository
