Repository ministryofjustice/modernisation-platform-environments, pull requests merged in 2024-01, with the labels that each got.

#4411 Tipstaff: update temp IP for RDS access
  terraform/environments/tipstaff/rds.tf
Labels: environments-repository

#4413 DSOS: hmpps-oem: fix issue with Oasys principal in secrets policy
  terraform/environments/hmpps-oem/locals_oem.tf
Labels: environments-repository

#4412 DSOS-2476: RemoteDesktop spike
  terraform/environments/hmpps-domain-services/locals.tf
  terraform/environments/hmpps-domain-services/locals_security_groups.tf
  terraform/environments/hmpps-domain-services/locals_test.tf
  terraform/modules/baseline/variables.tf
Labels: environments-repository

#4406 DSOS-2447: attach policy to role
  terraform/environments/hmpps-oem/locals.tf
Labels: environments-repository

#4416 NIT-1018 align dns name with ansible codebase
  terraform/environments/delius-core/modules/components/oracle_db_instance/dns.tf
Labels: environments-repository

#4408 add oasys db permissions
  terraform/environments/oasys/locals.tf
  terraform/environments/oasys/main.tf
Labels: environments-repository

#4415 DSOS-2447: add ssm:StartSession
  terraform/environments/hmpps-oem/locals.tf
Labels: environments-repository

#4418 csr/dsos-2434/leave_domain_doc
  terraform/environments/corporate-staff-rostering/ec2_common.tf
  terraform/environments/corporate-staff-rostering/ssm-documents/leave-windows-domain.yaml
Labels: environments-repository

#4419 Update platform_providers.tf
  .github/workflows/terraform-static-analysis.yml
Labels: environments-repository, github-workflow

#4422 oasys pp db up
  terraform/environments/oasys/locals_preproduction.tf
Labels: environments-repository

#4423 oasys db remake db
  terraform/environments/oasys/locals_preproduction.tf
Labels: environments-repository

#4424 oasys db bigger disks
  terraform/environments/oasys/locals_preproduction.tf
Labels: environments-repository

#4425 oasys db fix typo in policy
  terraform/environments/oasys/locals_preproduction.tf
Labels: environments-repository

#4417 recreated ssh keys
  terraform/environments/cdpt-chaps/bastion_linux.json
  terraform/environments/cdpt-chaps/database.tf
Labels: environments-repository

#4426 oasys pp db up
  terraform/environments/oasys/locals_preproduction.tf
Labels: environments-repository

#4428 New Windows 2022 servers for Equip upgrade
  terraform/environments/equip/main.tf
Labels: environments-repository

#4430 New files for terraform/environments
  .github/CODEOWNERS
Labels: environments-repository

#4434 remove un-needed coalesce from s3 module in baseline
  terraform/modules/baseline/s3_bucket.tf
Labels: environments-repository

#4439 add missing sg rules
  terraform/environments/planetfm/locals_security_groups.tf
Labels: environments-repository

#4437 create external bucket for lb logs
  terraform/environments/corporate-staff-rostering/locals_preproduction.tf
  terraform/environments/corporate-staff-rostering/locals_production.tf
Labels: environments-repository

#4440 load_balancer_type variable spelt incorrectly
  terraform/environments/planetfm/locals_preproduction.tf
Labels: environments-repository

#4441 Nomis: DSOS-2467: move xtag from ASG to instance
  terraform/environments/nomis/locals_preproduction.tf
  terraform/environments/nomis/locals_test.tf
Labels: environments-repository

#4421 Chaps - Adds key pair for EC2
  terraform/environments/cdpt-chaps/application_variables.json
  terraform/environments/cdpt-chaps/database.tf
  terraform/environments/cdpt-chaps/ecs.tf
  terraform/environments/cdpt-chaps/user_data.txt
Labels: environments-repository

#4443 DSOS-2467: xtag fix - part 1
  terraform/environments/nomis/locals_preproduction.tf
Labels: environments-repository

#4445 allow internal traffic
  terraform/environments/corporate-staff-rostering/locals_security_groups.tf
Labels: environments-repository

#4446 DSOS-2467: xtag fix - part 2
  terraform/environments/nomis/locals_preproduction.tf
Labels: environments-repository

#4420 Update platform_providers.tf
  terraform/environments/cooker/platform_providers.tf
Labels: environments-repository

#4449 add internal sg connectivity
  terraform/environments/planetfm/locals_security_groups.tf
Labels: environments-repository

#4452 Nit 1000 core delius modularise weblogic component for weblogic eis and weblogic app
  terraform/environments/delius-core/modules/components/delius-microservice/alb_reg.tf
  terraform/environments/delius-core/modules/components/delius-microservice/cloudwatch.tf
  terraform/environments/delius-core/modules/components/delius-microservice/ecs.tf
  terraform/environments/delius-core/modules/components/delius-microservice/sg.tf
  terraform/environments/delius-core/modules/components/delius-microservice/variables.tf
Labels: environments-repository

#4453 Dsos 2432 observability platform integration
  terraform/environments/nomis/locals_test.tf
  terraform/environments/oasys/locals.tf
  terraform/environments/oasys/locals_development.tf
  terraform/environments/oasys/locals_preproduction.tf
  terraform/environments/oasys/locals_production.tf
  terraform/environments/oasys/locals_test.tf
  terraform/environments/oasys/main.tf
  terraform/modules/baseline_presets/iam_roles.tf
  terraform/modules/baseline_presets/variables.tf
Labels: environments-repository

#4454 variablise alb target group values
  terraform/environments/delius-core/modules/components/delius-microservice/alb_reg.tf
  terraform/environments/delius-core/modules/components/delius-microservice/main.tf
  terraform/environments/delius-core/modules/components/delius-microservice/variables.tf
Labels: environments-repository

#4444 DSOS-2483: add policy
  terraform/environments/hmpps-oem/locals.tf
  terraform/environments/nomis/locals.tf
Labels: environments-repository

#4456 New files for terraform/environments
  .github/CODEOWNERS
Labels: environments-repository

#4442 change baseline lb module release hash
  terraform/modules/baseline/lb.tf
Labels: environments-repository

#4463 specify external bucket for r12 LB
  terraform/environments/corporate-staff-rostering/locals_preproduction.tf
Labels: environments-repository

#4462 DPR2-239: Rename dms module to dms_dps.
  terraform/environments/digital-prison-reporting/main.tf
  terraform/environments/digital-prison-reporting/modules/dms_dps/config/fake-data-replication-settings.json
  terraform/environments/digital-prison-reporting/modules/dms_dps/config/fake-data-table-mappings.json.tpl
  terraform/environments/digital-prison-reporting/modules/dms_dps/config/nomis-replication-settings.json
  terraform/environments/digital-prison-reporting/modules/dms_dps/config/nomis-table-mappings.json.tpl
  terraform/environments/digital-prison-reporting/modules/dms_dps/config/useforce-replication-settings.json
  terraform/environments/digital-prison-reporting/modules/dms_dps/config/useforce-table-mappings.json.tpl
  terraform/environments/digital-prison-reporting/modules/dms_dps/iam.tf
  terraform/environments/digital-prison-reporting/modules/dms_dps/main.tf
  terraform/environments/digital-prison-reporting/modules/dms_dps/outputs.tf
  terraform/environments/digital-prison-reporting/modules/dms_dps/variables.tf
Labels: environments-repository

#4464 set remaining external buckets for NLB in prod and preprod
  terraform/environments/corporate-staff-rostering/locals_preproduction.tf
  terraform/environments/corporate-staff-rostering/locals_production.tf
Labels: environments-repository

#4466 DPR2-239: rename dms_s3 module to dms.
  terraform/environments/digital-prison-reporting/main.tf
  terraform/environments/digital-prison-reporting/modules/dms/config/nomis-replication-settings.json
  terraform/environments/digital-prison-reporting/modules/dms/config/nomis-table-mappings.json.tpl
  terraform/environments/digital-prison-reporting/modules/dms/iam.tf
  terraform/environments/digital-prison-reporting/modules/dms/main.tf
  terraform/environments/digital-prison-reporting/modules/dms/outputs.tf
  terraform/environments/digital-prison-reporting/modules/dms/variables.tf
Labels: environments-repository

#4467 missed this one
  terraform/environments/corporate-staff-rostering/locals_preproduction.tf
Labels: environments-repository

#4465 Oasys db disk size
  terraform/environments/oasys/locals.tf
  terraform/environments/oasys/locals_preproduction.tf
  terraform/environments/oasys/locals_test.tf
Labels: environments-repository

#4450 Bump version
  .github/workflows/reusable_terraform_plan_apply_test.yml
  terraform/environments/data-platform/application_variables.auto.tfvars.json
Labels: environments-repository, github-workflow

#4461 nomis: DSOS-2477: Update default weblogic instance size
  terraform/environments/nomis/locals_development.tf
  terraform/environments/nomis/locals_preproduction.tf
  terraform/environments/nomis/locals_production.tf
  terraform/environments/nomis/locals_test.tf
  terraform/environments/nomis/locals_weblogic.tf
Labels: environments-repository

#4368 added code to build AD in sprinkler for testing purposes
  terraform/environments/sprinkler/directory-service.tf
  terraform/environments/sprinkler/platform_versions.tf
Labels: environments-repository

#4468 DSOS-2483: both roles need EC2 mgmt permissions
  terraform/environments/hmpps-oem/locals.tf
  terraform/environments/nomis/locals.tf
Labels: environments-repository, github-workflow

#4470 hmpps: DSOS-2478: add windows 2012 asg
  terraform/environments/hmpps-domain-services/locals_test.tf
Labels: environments-repository

#4459 NIT-988 refining jitbit cloudwatch alarm config, setting evaluation p…
  terraform/environments/delius-jitbit/monitoring_app.tf
Labels: environments-repository

#4469 set recovery window for sprinkler mmad secret to 0
  terraform/environments/sprinkler/directory-service.tf
Labels: environments-repository

#4438 Laws 3562 mohamed
  terraform/environments/maat/api-cw.tf
  terraform/environments/maat/api-dns.tf
  terraform/environments/maat/api-ecs.tf
  terraform/environments/maat/api-iam.tf
  terraform/environments/maat/api-lb.tf
  terraform/environments/maat/api-sg.tf
  terraform/environments/maat/application_variables.json
  terraform/environments/maat/locals.tf
Labels: environments-repository

#4474 Delius Core: Add monitoring for microservices module
  terraform/environments/delius-core/modules/components/delius-microservice/cloudwatch.tf
  terraform/environments/delius-core/modules/components/delius_microservice/alb_reg.tf
  terraform/environments/delius-core/modules/components/delius_microservice/cloudwatch.tf
  terraform/environments/delius-core/modules/components/delius_microservice/ecs.tf
  terraform/environments/delius-core/modules/components/delius_microservice/ecs_monitoring.tf
  terraform/environments/delius-core/modules/components/delius_microservice/elasticache.tf
  terraform/environments/delius-core/modules/components/delius_microservice/main.tf
  terraform/environments/delius-core/modules/components/delius_microservice/pagerduty.tf
  terraform/environments/delius-core/modules/components/delius_microservice/rds.tf
  terraform/environments/delius-core/modules/components/delius_microservice/rds_monitoring.tf
  terraform/environments/delius-core/modules/components/delius_microservice/sg.tf
  terraform/environments/delius-core/modules/components/delius_microservice/templates/dashboard.json
  terraform/environments/delius-core/modules/components/delius_microservice/variables.tf
Labels: environments-repository

#4477 csr/DSOS-2435/network_SSM_doc_fix
  terraform/environments/corporate-staff-rostering/ec2_common.tf
  terraform/environments/corporate-staff-rostering/ssm-documents/network-testing-tools.yaml
Labels: environments-repository

#4478 CSR network lb only accepts http requests so logging isn't useful
  terraform/environments/corporate-staff-rostering/locals_preproduction.tf
  terraform/environments/corporate-staff-rostering/locals_production.tf
Labels: environments-repository

#4483 DSOS-2525:add_tags
  terraform/environments/nomis-data-hub/locals_test.tf
Labels: environments-repository

#4484 allow force destroy on nlb log buckets
  terraform/environments/corporate-staff-rostering/locals_preproduction.tf
  terraform/environments/corporate-staff-rostering/locals_production.tf
Labels: environments-repository

#4486 set lb module version tag as per convention elsewhere
  terraform/modules/baseline/lb.tf
Labels: environments-repository

#4487 destroy s3 buckets for nlb logs
  terraform/environments/corporate-staff-rostering/locals_preproduction.tf
  terraform/environments/corporate-staff-rostering/locals_production.tf
Labels: environments-repository

#4494 change high-memory-usage threshold for csr app servers
  terraform/environments/corporate-staff-rostering/locals_defaults.tf
Labels: environments-repository

#4495 adjust csr high memory eval period for testing
  terraform/environments/corporate-staff-rostering/locals_defaults.tf
Labels: environments-repository

#4493 Chaps rds
  terraform/environments/cdpt-chaps/application_variables.json
  terraform/environments/cdpt-chaps/database.tf
Labels: environments-repository

#4498 Fix onboard dso to observability platform
  terraform/modules/baseline_presets/iam_roles.tf
Labels: environments-repository

#4492 ✨ Add dev container
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/features/src/aws/devcontainer-feature.json
  .devcontainer/features/src/aws/install-aws-cli.sh
  .devcontainer/features/src/aws/install-aws-sso-cli.sh
  .devcontainer/features/src/aws/install.sh
  .devcontainer/features/src/aws/src/home/vscode/.aws-sso/config.yaml
  .devcontainer/features/src/terraform/devcontainer-feature.json
  .devcontainer/features/src/terraform/install-terraform-switcher.sh
  .devcontainer/features/src/terraform/install.sh
  .devcontainer/features/src/terraform/src/home/vscode/.tfswitch.toml
  .devcontainer/features/test/aws/test.sh
  .devcontainer/features/test/terraform/test.sh
  scripts/member-local-plan.sh
Labels: enhancement, environments-repository

#4500 DPAT: PowerBI Gateway Configuration
  terraform/environments/data-platform-apps-and-tools/environment-configuration.tf
  terraform/environments/data-platform-apps-and-tools/powerbi-gateway-iam.tf
  terraform/environments/data-platform-apps-and-tools/powerbi-gateway-keypair.tf
  terraform/environments/data-platform-apps-and-tools/powerbi-gateway-security-group.tf
  terraform/environments/data-platform-apps-and-tools/powerbi-gateway-server.tf
Labels: environments-repository

#4502 🔐 Add Grafana API key secret
  terraform/environments/observability-platform/data.tf
  terraform/environments/observability-platform/managed-grafana.tf
  terraform/environments/observability-platform/providers.tf
  terraform/environments/observability-platform/secrets.tf
Labels: environments-repository

#4506 :wrench: Onboard digital-studio-operations
  terraform/environments/observability-platform/environment-configurations.tf
Labels: environments-repository

#4511 🔥 Remove an old committed plan
  terraform/environments/data-platform-apps-and-tools/plan.txt
Labels: code quality, environments-repository

#4514 Remove config for managed AD from sprinkler
  terraform/environments/sprinkler/directory-service.tf
Labels: environments-repository

#4515 Remove users from delius core bastion
  terraform/environments/delius-core/bastion_linux.json
  terraform/environments/delius-jitbit/bastion_linux.json
Labels: environments-repository

#4516 New files for terraform/environments
  .github/CODEOWNERS
Labels: environments-repository

#4480 ELM-1309 Add terraform to create S3 bucket for capita
  terraform/environments/electronic-monitoring-data/s3.tf
Labels: environments-repository

#4519 Issue #5899
  .github/workflows/terraform-static-analysis.yml
Labels: environments-repository, github-workflow

#4512 ♻️ Grafana API key rotator
  terraform/environments/observability-platform/.gitignore
  terraform/environments/observability-platform/cloudwatch-event-rules.tf
  terraform/environments/observability-platform/cloudwatch-event-targets.tf
  terraform/environments/observability-platform/lambda-functions.tf
  terraform/environments/observability-platform/src/lambda/grafana-api-key-rotator/lambda_function.py
Labels: enhancement, environments-repository

#4509 DPAT: Updating PowerBI Gateway AMI
  terraform/environments/data-platform-apps-and-tools/environment-configuration.tf
  terraform/environments/data-platform-apps-and-tools/powerbi-gateway-iam.tf
  terraform/environments/data-platform-apps-and-tools/powerbi-gateway-secret.tf
  terraform/environments/data-platform-apps-and-tools/powerbi-gateway-server.tf
Labels: environments-repository

#4522 hmpps-oem to access delius secrets
  terraform/environments/hmpps-oem/locals_test.tf
  terraform/modules/baseline_presets/iam_policies.tf
  terraform/modules/baseline_presets/iam_roles.tf
Labels: environments-repository

#4524 ♻️ Update DPAT OP module
  terraform/environments/data-platform-apps-and-tools/observability-platform.tf
Labels: code quality, environments-repository

#4525 hmpps oem fix naming part 1
  terraform/environments/hmpps-oem/locals.tf
Labels: environments-repository

#4528 hmpps-oem-naming-part-2
  terraform/environments/hmpps-oem/locals.tf
Labels: environments-repository

#4529 📌 DPAT EKS upgrade
  terraform/environments/data-platform-apps-and-tools/environment-configuration.tf
  terraform/environments/data-platform-apps-and-tools/helm-charts-applications.tf
  terraform/environments/data-platform-apps-and-tools/helm-charts-system.tf
Labels: dependencies, environments-repository

#4532 Initial ssm docs for deploying RDS
  terraform/environments/hmpps-domain-services/ec2_common.tf
  terraform/environments/hmpps-domain-services/ssm-documents/rds-app.yaml
  terraform/environments/hmpps-domain-services/ssm-documents/rds-collection.yaml
  terraform/environments/hmpps-domain-services/ssm-documents/rds-deploy.yaml
  terraform/environments/hmpps-domain-services/ssm-documents/rds-gateway.yaml
Labels: environments-repository

#4533 Correct yaml syntax
  terraform/environments/hmpps-domain-services/ssm-documents/rds-app.yaml
  terraform/environments/hmpps-domain-services/ssm-documents/rds-collection.yaml
  terraform/environments/hmpps-domain-services/ssm-documents/rds-deploy.yaml
  terraform/environments/hmpps-domain-services/ssm-documents/rds-gateway.yaml
Labels: environments-repository

#4526 Bumped delete table image version
  terraform/environments/data-platform/application_variables.auto.tfvars.json
Labels: environments-repository

#4538 Update application_variables.auto.tfvars.json
  terraform/environments/data-platform/application_variables.auto.tfvars.json
Labels: environments-repository

#4540 Update application_variables.auto.tfvars.json
  terraform/environments/data-platform/application_variables.auto.tfvars.json
Labels: environments-repository

#4542 JML lambda execution role and secrets manager
  terraform/environments/data-platform-apps-and-tools/jml_lambda_execution_roles.tf
  terraform/environments/data-platform-apps-and-tools/secrets.tf
Labels: environments-repository

#4539 configure ec2 rds security groups
  terraform/environments/cdpt-chaps/database.tf
  terraform/environments/cdpt-chaps/ecs.tf
Labels: environments-repository

#4543 ndh ingress
  terraform/environments/nomis-data-hub/locals_security_groups.tf
Labels: environments-repository

#4545 DSOS-2537: hmpps domain RD Gateway zone and LB
  terraform/environments/hmpps-domain-services/locals_development.tf
  terraform/environments/hmpps-domain-services/locals_preproduction.tf
  terraform/environments/hmpps-domain-services/locals_production.tf
  terraform/environments/hmpps-domain-services/locals_test.tf
Labels: environments-repository

#4499 Chaps: Use private subnet
  terraform/environments/cdpt-chaps/ecs.tf
  terraform/environments/cdpt-chaps/user_data.txt
Labels: environments-repository

#4548 DSOS-2537: Add load balancer certificate for hmpps-domain-services
  terraform/environments/hmpps-domain-services/locals_development.tf
  terraform/environments/hmpps-domain-services/locals_preproduction.tf
  terraform/environments/hmpps-domain-services/locals_production.tf
  terraform/environments/hmpps-domain-services/locals_test.tf
Labels: environments-repository

#4550 DSOS-2537: add missing NS records for development hmpps-domain zone
  terraform/environments/hmpps-domain-services/locals_production.tf
Labels: environments-repository

#4546 Terraform code for monitoring and alerting for maat api application
  terraform/environments/maat/api-cw.tf
  terraform/environments/maat/api-variables.tf
  terraform/environments/maat/application_variables.json
Labels: environments-repository

#4531 less permissive db permissions
  terraform/environments/hmpps-oem/locals.tf
  terraform/environments/hmpps-oem/locals_oem.tf
  terraform/environments/oasys/locals.tf
  terraform/environments/oasys/locals_test.tf
  terraform/modules/baseline_presets/iam_policies.tf
  terraform/modules/baseline_presets/iam_policy_statements_ec2.tf
  terraform/modules/baseline_presets/iam_roles.tf
  terraform/modules/baseline_presets/ssm.tf
  terraform/modules/baseline_presets/variables.tf
Labels: environments-repository

#4332 DPR2-258, Onboard Reusable Domains
  terraform/environments/digital-prison-reporting/modules/dms_s3_v2/iam.tf
  terraform/environments/digital-prison-reporting/modules/dms_s3_v2/main.tf
  terraform/environments/digital-prison-reporting/modules/dms_s3_v2/outputs.tf
  terraform/environments/digital-prison-reporting/modules/dms_s3_v2/variables.tf
  terraform/environments/digital-prison-reporting/modules/domains/dms-endpoints/endpoints.tf
  terraform/environments/digital-prison-reporting/modules/domains/dms-endpoints/outputs.tf
  terraform/environments/digital-prison-reporting/modules/domains/dms-endpoints/variables.tf
  terraform/environments/digital-prison-reporting/modules/domains/dms-instance/dms-instance.tf
  terraform/environments/digital-prison-reporting/modules/domains/dms-instance/outputs.tf
  terraform/environments/digital-prison-reporting/modules/domains/dms-instance/variables.tf
  terraform/environments/digital-prison-reporting/modules/domains/dms-task/dms-task.tf
  terraform/environments/digital-prison-reporting/modules/domains/dms-task/outputs.tf
  terraform/environments/digital-prison-reporting/modules/domains/dms-task/variables.tf
  terraform/environments/digital-prison-reporting/modules/domains/ingestion-jobs/glue.tf
  terraform/environments/digital-prison-reporting/modules/domains/ingestion-jobs/variables.tf
  terraform/environments/digital-prison-reporting/modules/domains/ingestion-pipeline/pipeline.tf
  terraform/environments/digital-prison-reporting/modules/domains/ingestion-pipeline/variables.tf
  terraform/environments/digital-prison-reporting/modules/domains/pipeline-lambda/lambda.tf
  terraform/environments/digital-prison-reporting/modules/domains/pipeline-lambda/variables.tf
  terraform/environments/digital-prison-reporting/modules/glue_job/main.tf
  terraform/environments/digital-prison-reporting/modules/glue_job/variables.tf
  terraform/environments/digital-prison-reporting/modules/step_function/main.tf
  terraform/environments/digital-prison-reporting/modules/step_function/variables.tf
  terraform/environments/digital-prison-reporting/policy.tf
Labels: environments-repository

#4552 🎡 Dev container updates
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/features/src/aws/devcontainer-feature.json
  .devcontainer/features/src/aws/install-aws-cli.sh
  .devcontainer/features/src/aws/install-aws-sso-cli.sh
  .devcontainer/features/src/aws/install.sh
  .devcontainer/features/src/aws/src/home/vscode/.devcontainer/feature-completion/aws-sso.sh
  .devcontainer/features/src/aws/src/home/vscode/.devcontainer/feature-completion/aws.sh
  .devcontainer/features/src/base/devcontainer-feature.json
  .devcontainer/features/src/base/install.sh
  .devcontainer/features/src/base/src/home/vscode/.oh-my-zsh/custom/themes/devcontainers.zsh-theme
  .devcontainer/features/src/base/src/usr/local/bin/devcontainer-utils
  .devcontainer/features/src/base/src/usr/local/etc/vscode-dev-containers/first-run-notice.txt
  .devcontainer/features/src/terraform/devcontainer-feature.json
  .devcontainer/features/src/terraform/install-terraform-switcher.sh
  .devcontainer/features/src/terraform/install.sh
  .devcontainer/features/src/terraform/src/home/vscode/.devcontainer/feature-completion/terraform.sh
  .devcontainer/features/test/Containerfile
  .devcontainer/features/test/aws/test.sh
  .devcontainer/features/test/base/test.sh
  .devcontainer/features/test/terraform/test.sh
  .github/workflows/devcontainer.yml
Labels: enhancement, environments-repository, github-workflow

#4556 oasys web access
  terraform/environments/oasys/locals_security_groups.tf
Labels: environments-repository

#4555 DSOS-2537: enable new hmpps domain certs
  terraform/environments/hmpps-domain-services/locals_development.tf
  terraform/environments/hmpps-domain-services/locals_preproduction.tf
  terraform/environments/hmpps-domain-services/locals_production.tf
  terraform/environments/hmpps-domain-services/locals_rds.tf
  terraform/environments/hmpps-domain-services/locals_test.tf
Labels: environments-repository

#4547 database.tf test
  terraform/environments/cdpt-chaps/database.tf
Labels: environments-repository

#4549 Chaps Add dev env vars
  terraform/environments/cdpt-chaps/application_variables.json
  terraform/environments/cdpt-chaps/ecs.tf
Labels: environments-repository

#4541 check for vpc endpoint or transfer server resources
  scripts/terraform-plan-evaluator.sh
Labels: environments-repository

#4559 DSOS-2544-tomcat-admin-separation
  terraform/environments/nomis-combined-reporting/locals_test.tf
  terraform/environments/nomis-combined-reporting/locals_tomcat_admin.tf
Labels: environments-repository

#4561 Remove EC2 instance that is not required
  terraform/environments/equip/main.tf
Labels: environments-repository

#4564 planetfm: DSOS-2537: add security groups for remote desktop
  terraform/environments/planetfm/locals.tf
  terraform/environments/planetfm/locals_defaults.tf
  terraform/environments/planetfm/locals_security_groups.tf
Labels: environments-repository

#4563 update format-code
  .github/workflows/do-not-merge.yml
Labels: environments-repository, github-workflow

#4565 Update format-code.yml
  .github/workflows/format-code.yml
Labels: environments-repository, github-workflow

#4562 test ords param file
  terraform/environments/oasys/locals_preproduction.tf
  terraform/environments/oasys/locals_test.tf
Labels: environments-repository

#4567 Alarms override removed
  terraform/environments/planetfm/locals_preproduction.tf
Labels: environments-repository

#4568 make pp oasys web
  terraform/environments/oasys/locals_preproduction.tf
Labels: environments-repository

#4551 New files for terraform/environments
  .github/CODEOWNERS
Labels: environments-repository

#4569 pp oasys web down
  terraform/environments/oasys/locals_preproduction.tf
Labels: environments-repository

#4573 Chaps - Add staging and prod client ids
  terraform/environments/cdpt-chaps/application_variables.json
Labels: environments-repository

#4579 Added Garth key to preprod and prod
  terraform/environments/xhibit-portal/bastion_linux.json
Labels: environments-repository

#4577 DSOS-2537: remove old hmpps domain cert and enable backup
  terraform/environments/hmpps-domain-services/locals.tf
  terraform/environments/hmpps-domain-services/locals_development.tf
  terraform/environments/hmpps-domain-services/locals_rds.tf
Labels: environments-repository

#4580 Feature/dsos 2515 build aws nomis dashboard
  terraform/environments/nomis/cloudwatch_dashboard/dashboard.tf
  terraform/environments/nomis/main.tf
Labels: environments-repository

#4572 pp oasys web up
  terraform/environments/oasys/locals_preproduction.tf
Labels: environments-repository

#4578 RDS Deployment via SSM
  terraform/environments/hmpps-domain-services/ssm-documents/rds-app.yaml
  terraform/environments/hmpps-domain-services/ssm-documents/rds-collection.yaml
  terraform/environments/hmpps-domain-services/ssm-documents/rds-deploy.yaml
  terraform/environments/hmpps-domain-services/ssm-documents/rds-gateway.yaml
Labels: environments-repository

#4588 LAWS-3564: pushing changes from another branch
  terraform/environments/maat/api-cognito.tf
  terraform/environments/maat/application_variables.json
Labels: environments-repository

#4591 pp oasys load balancer
  terraform/environments/oasys/locals_preproduction.tf
Labels: environments-repository

#4592 adding in cafm web server
  terraform/environments/planetfm/locals_production.tf
Labels: environments-repository

#4590 skip final snapshot
  terraform/environments/cdpt-chaps/database.tf
Labels: environments-repository

#4594 snapshot shared
  terraform/environments/cdpt-chaps/database.tf
Labels: environments-repository

#4378 Create SSM doc to remove local users from windows servers
  terraform/environments/corporate-staff-rostering/ec2_common.tf
  terraform/environments/corporate-staff-rostering/ssm-documents/remove-local-users-windows.yaml
  terraform/environments/planetfm/ec2-common.tf
  terraform/environments/planetfm/ssm-documents/remove-local-users-windows.yaml
Labels: environments-repository

#4581 Added Athena permissions for delete table lambda
  terraform/environments/data-platform/iam.tf
Labels: environments-repository

#4595 set skip_final_snapshot to true before restoring
  terraform/environments/cdpt-chaps/database.tf
Labels: environments-repository

#4598 🎡 Dev container static analysis feature
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/features/src/base/install.sh
  .devcontainer/features/src/base/src/usr/local/bin/devcontainer-utils
  .devcontainer/features/src/static-analysis/devcontainer-feature.json
  .devcontainer/features/src/static-analysis/install-checkov.sh
  .devcontainer/features/src/static-analysis/install-trivy.sh
  .devcontainer/features/src/static-analysis/install.sh
  .devcontainer/features/src/static-analysis/src/home/vscode/.devcontainer/feature-completion/trivy.sh
  .devcontainer/features/test/Containerfile
  .devcontainer/features/test/static-analysis/test.sh
  .github/workflows/devcontainer.yml
Labels: enhancement, environments-repository, github-workflow

#4601 restore preprod db
  terraform/environments/cdpt-chaps/database.tf
Labels: environments-repository

#4602 restore db correct starage size
  terraform/environments/cdpt-chaps/application_variables.json
Labels: environments-repository

#4603 hmpps: DSOS-2542: add AD secret sharing role
  terraform/environments/hmpps-oem/locals.tf
  terraform/environments/hmpps-oem/locals_development.tf
  terraform/environments/hmpps-oem/locals_preproduction.tf
  terraform/environments/hmpps-oem/locals_production.tf
  terraform/environments/hmpps-oem/locals_test.tf
  terraform/environments/hmpps-oem/main.tf
  terraform/modules/baseline_presets/iam_policies.tf
  terraform/modules/baseline_presets/iam_policy_statements_ec2.tf
  terraform/modules/baseline_presets/iam_roles.tf
  terraform/modules/baseline_presets/variables.tf
  terraform/modules/environment/outputs.tf
Labels: environments-repository

#4600 Use s3 module for bucket policy
  terraform/environments/performance-hub/s3.tf
Labels: environments-repository

#4604 oasys pp add bip secret
  terraform/environments/oasys/locals_preproduction.tf
Labels: environments-repository

#4606 CAFM . app server 11 config added
  terraform/environments/planetfm/locals_production.tf
Labels: environments-repository

#4607 rebuilding with correct config
  terraform/environments/planetfm/locals_production.tf
Labels: environments-repository

#4610 planetfm(pd): adding `pd-cafm-db-a`
  terraform/environments/planetfm/locals_production.tf
Labels: environments-repository

#4613 PatchMgmt_Update_180123
  terraform/environments/ppud/win_patchmgmt.tf
Labels: environments-repository

#4608 remove ec2 ingress rule
  terraform/environments/cdpt-chaps/application_variables.json
  terraform/environments/cdpt-chaps/ecs.tf
Labels: environments-repository

#4611 building pd-cafm-a-10-b server
  terraform/environments/planetfm/locals_production.tf
Labels: environments-repository

#4614 hmpps: DSOS-2542: add domain secrets
  terraform/environments/hmpps-domain-services/locals.tf
  terraform/environments/hmpps-domain-services/locals_domain.tf
  terraform/environments/hmpps-domain-services/locals_production.tf
  terraform/environments/hmpps-domain-services/locals_test.tf
  terraform/modules/baseline_presets/ssm.tf
Labels: environments-repository

#4615 planetfm: add cloudwatch config
  terraform/environments/planetfm/templates/cloud_watch_windows.json
Labels: environments-repository

#4507 Planetfm/cost reporting
  terraform/environments/planetfm/ec2-common.tf
  terraform/environments/planetfm/locals_development.tf
  terraform/environments/planetfm/main.tf
  terraform/modules/baseline/cost_usage_report.tf
  terraform/modules/baseline/outputs.tf
  terraform/modules/baseline/variables.tf
  terraform/modules/cost_usage_report/README.md
  terraform/modules/cost_usage_report/main.tf
  terraform/modules/cost_usage_report/variables.tf
  terraform/modules/cost_usage_report/versions.tf
Labels: environments-repository

#4617 hmpps: DSOS-2542: ad domain secrets v3
  terraform/environments/hmpps-domain-services/locals_domain.tf
  terraform/environments/hmpps-domain-services/locals_test.tf
Labels: environments-repository

#4620 planetfm(pd): add instance `pd-cafm-a-13-a`
  terraform/environments/planetfm/locals_production.tf
Labels: environments-repository

#4558 Create isolated sagemaker VPC
  terraform/environments/data-platform-compute/application_variables.json
  terraform/environments/data-platform-compute/data.tf
  terraform/environments/data-platform-compute/locals.tf
  terraform/environments/data-platform-compute/platform_data.tf
  terraform/environments/data-platform-compute/platform_providers.tf
  terraform/environments/data-platform-compute/vpc.tf
Labels: environments-repository

#4624 New files for terraform/environments
  .github/CODEOWNERS
Labels: environments-repository

#4625 add curserver env variable
  terraform/environments/cdpt-chaps/application_variables.json
  terraform/environments/cdpt-chaps/ecs.tf
Labels: environments-repository

#4626 planetfm(pd): add instance pd-cafm-w-6-b
  terraform/environments/planetfm/locals_production.tf
Labels: environments-repository

#4623 CC-2316: Removed the DBF volume from EBS DB instances.
  terraform/environments/ccms-ebs/application_variables.json
  terraform/environments/ccms-ebs/ccms-ec2-oracle_ebs-outputs.tf
  terraform/environments/ccms-ebs/ccms-ec2-oracle_ebs_db-cloudwatch.tf
  terraform/environments/ccms-ebs/ccms-ec2-oracle_ebs_db.tf
Labels: environments-repository

#4629 planetfm(pd): add instance pd-cafm-w-37-a
  terraform/environments/planetfm/locals_production.tf
Labels: environments-repository

#4628 👀 Deploy Observability Platform module into Obersvability Platform
  terraform/environments/observability-platform/observability-platform.tf
Labels: environments-repository

#4631 hmpps: DSOS: Add DNS forwarding for DOM1
  terraform/environments/hmpps-domain-services/locals.tf
  terraform/environments/hmpps-domain-services/locals_development.tf
  terraform/environments/hmpps-domain-services/locals_preproduction.tf
  terraform/environments/hmpps-domain-services/locals_production.tf
  terraform/environments/hmpps-domain-services/locals_test.tf
  terraform/environments/hmpps-domain-services/main.tf
  terraform/environments/nomis/locals_preproduction.tf
  terraform/environments/nomis/locals_production.tf
  terraform/modules/baseline_presets/route53.tf
Labels: environments-repository

#4627 CDPT-1260 Chaps: Remove plain text password
  terraform/environments/cdpt-chaps/application_variables.json
  terraform/environments/cdpt-chaps/database.tf
  terraform/environments/cdpt-chaps/ecs.tf
  terraform/environments/cdpt-chaps/secrets.tf
Labels: environments-repository

#4634 add final snapshot
  terraform/environments/cdpt-chaps/database.tf
Labels: environments-repository

#4638 dsos-1718/oasys pp bip up
  terraform/environments/oasys/locals.tf
  terraform/environments/oasys/locals_preproduction.tf
Labels: environments-repository

#4636 JML project for lambda-secrets-other modules
  terraform/environments/data-platform-apps-and-tools/cloudwatch-event-rules.tf
  terraform/environments/data-platform-apps-and-tools/cloudwatch-event-targets.tf
  terraform/environments/data-platform-apps-and-tools/data.tf
  terraform/environments/data-platform-apps-and-tools/jml_lambda_execution_roles.tf
  terraform/environments/data-platform-apps-and-tools/lambda-functions.tf
  terraform/environments/data-platform-apps-and-tools/modules/auth0-log-streams/outputs.tf
  terraform/environments/data-platform-apps-and-tools/powerbi-gateway-server.tf
  terraform/environments/data-platform-apps-and-tools/secrets.tf
Labels: environments-repository
