Repository ministryofjustice/modernisation-platform-environments, pull requests merged in 2025-01, with the labels that each got.

#9185 ndh: remove filesystem monitoring as it has been removed
  terraform/environments/nomis-data-hub/locals_production.tf
Labels: environments-repository

#9209 TM: nomis: tweak thresholds for iowait alarm to avoid false positive alarms
  terraform/environments/nomis/locals_cloudwatch_metric_alarms.tf
Labels: environments-repository

#9208 TM: hmpps-oem: fix cert expiry alarm
  terraform/environments/hmpps-oem/locals_cloudwatch_metric_alarms.tf
Labels: environments-repository

#9195 TM-844: ncr: add maintenance mode lb option
  terraform/environments/nomis-combined-reporting/locals_preproduction.tf
  terraform/environments/nomis-combined-reporting/locals_production.tf
  terraform/environments/nomis-combined-reporting/locals_test.tf
  terraform/environments/nomis-combined-reporting/templates/maintenance.html.tftpl
Labels: environments-repository

#9212 update dbt runner permissions
  terraform/environments/electronic-monitoring-data/analytical_platform_share.tf
Labels: environments-repository

#9211 TM-851 Build out prod mail relay resources
  terraform/environments/laa-mail-relay/application_variables.json
  terraform/environments/laa-mail-relay/ses.tf
Labels: environments-repository

#9215 New files for terraform/environments
  .github/CODEOWNERS
  .github/workflows/laa-stabilisation-cdc-poc.yml
  terraform/environments/laa-stabilisation-cdc-poc/README.md
  terraform/environments/laa-stabilisation-cdc-poc/application_variables.json
  terraform/environments/laa-stabilisation-cdc-poc/data.tf
  terraform/environments/laa-stabilisation-cdc-poc/locals.tf
  terraform/environments/laa-stabilisation-cdc-poc/networking.auto.tfvars.json
  terraform/environments/laa-stabilisation-cdc-poc/platform_backend.tf
  terraform/environments/laa-stabilisation-cdc-poc/platform_base_variables.tf
  terraform/environments/laa-stabilisation-cdc-poc/platform_data.tf
  terraform/environments/laa-stabilisation-cdc-poc/platform_locals.tf
  terraform/environments/laa-stabilisation-cdc-poc/platform_providers.tf
  terraform/environments/laa-stabilisation-cdc-poc/platform_secrets.tf
  terraform/environments/laa-stabilisation-cdc-poc/secrets.tf
  terraform/environments/laa-stabilisation-cdc-poc/versions.tf
Labels: environments-repository, github-workflow

#9216 New files for terraform/environments
  terraform/environments/laa-stabilisation-cdc-poc/networking.auto.tfvars.json
Labels: environments-repository

#9199 DPR2-1642: Include part-*.snappy.parquet in batch job during ingestio…
  terraform/environments/digital-prison-reporting/modules/domains/replay-pipeline/pipeline.tf
Labels: environments-repository

#9213 EM: Fix SNS issues
  terraform/environments/electronic-monitoring-data/lambda_triggers.tf
  terraform/environments/electronic-monitoring-data/s3_sns.tf
Labels: environments-repository

#9214 DPR2-1643: Fix replay pipeline
  terraform/environments/digital-prison-reporting/modules/domains/ingestion-pipeline/pipeline.tf
  terraform/environments/digital-prison-reporting/modules/domains/replay-pipeline/pipeline.tf
Labels: environments-repository

#9225 Update_060125_1
  terraform/environments/ppud/lambda_scripts/ppud_elb_report_prod.py
  terraform/environments/ppud/lambda_scripts/send_cpu_graph_prod.py
  terraform/environments/ppud/sns.tf
Labels: environments-repository

#9228 [DPR2-1576] S3 bucket expiration override
  terraform/environments/digital-prison-reporting/application_variables.json
  terraform/environments/digital-prison-reporting/locals.tf
  terraform/environments/digital-prison-reporting/main.tf
  terraform/environments/digital-prison-reporting/modules/s3_bucket/main.tf
  terraform/environments/digital-prison-reporting/modules/s3_bucket/variables.tf
Labels: environments-repository

#9227 EM: update lambda virus scan version
  terraform/environments/electronic-monitoring-data/lambdas_main.tf
Labels: environments-repository

#9186 EM: Lakeformation for Cloud platform roles
  terraform/environments/electronic-monitoring-data/cloud_platform_share.tf
  terraform/environments/electronic-monitoring-data/lake_formation_cloud_platform.tf
  terraform/environments/electronic-monitoring-data/modules/lakeformation/main.tf
  terraform/environments/electronic-monitoring-data/modules/lakeformation/variables.tf
  terraform/environments/electronic-monitoring-data/modules/lakeformation/versions.tf
Labels: environments-repository

#9230 New files for terraform/environments
  .github/CODEOWNERS
Labels: environments-repository

#9232 Removed macie
  terraform/environments/example/data.tf
  terraform/environments/example/macie.tf
Labels: environments-repository

#9233 CC-3058: dbf01 IOPS 7000 -> 24000.
  terraform/environments/ccms-ebs/application_variables.json
Labels: environments-repository

#9240 DPR2-1647: Create secrets and glue connections for DPS Locations and Use of Force
  terraform/environments/digital-prison-reporting/application_variables.json
Labels: environments-repository

#9236 oasys san test
  terraform/environments/oasys/locals_production.tf
  terraform/environments/oasys/locals_test.tf
  terraform/environments/oasys/main.tf
Labels: environments-repository

#8658 🧲 Add DataSync Tasks
  terraform/environments/analytical-platform-ingestion/cloudwatch-log-group-policies.tf
  terraform/environments/analytical-platform-ingestion/cloudwatch-log-groups.tf
  terraform/environments/analytical-platform-ingestion/datasync-locations.tf
  terraform/environments/analytical-platform-ingestion/datasync-tasks.tf
  terraform/environments/analytical-platform-ingestion/iam-policies.tf
  terraform/environments/analytical-platform-ingestion/s3.tf
  terraform/environments/analytical-platform-ingestion/security-groups.tf
Labels: environments-repository

#9238 :wrench: Update AP Ingestion image versions
  terraform/environments/analytical-platform-ingestion/environment-configuration.tf
Labels: environments-repository

#9234 EM: Rename lf shared dbs
  terraform/environments/electronic-monitoring-data/analytical_platform_share.tf
  terraform/environments/electronic-monitoring-data/lake_formation_cloud_platform.tf
Labels: environments-repository

#9248 optional dataframe filter added-v1
  terraform/environments/electronic-monitoring-data/dms_data_validation_glue_job_v2.tf
  terraform/environments/electronic-monitoring-data/glue-job/etl_rds_tbl_rows_hashvalue_to_s3_prq_yyyy_mm.py
Labels: environments-repository

#9252 Update dependabot script to use `directories:` key
  scripts/generate-dependabot-file.sh
Labels: environments-repository

#9241 oasys san test
  terraform/environments/oasys/locals_test.tf
  terraform/environments/oasys/main.tf
Labels: environments-repository

#9253 TM-860: nomis: temporarily increase web disk space alarm threshold
  terraform/environments/nomis/locals_cloudwatch_metric_alarms.tf
Labels: environments-repository

#9251 remove r53 azure a records, change ppifm cname, add piwfm cname for prod
  terraform/environments/corporate-staff-rostering/locals_preproduction.tf
  terraform/environments/corporate-staff-rostering/locals_production.tf
Labels: environments-repository

#9235 📌 APC Patching
  terraform/environments/analytical-platform-compute/cloudwatch-log-groups.tf
  terraform/environments/analytical-platform-compute/ec2-instances.tf
  terraform/environments/analytical-platform-compute/eks-cluster.tf
  terraform/environments/analytical-platform-compute/eks-pod-identities.tf
  terraform/environments/analytical-platform-compute/environment-configuration.tf
  terraform/environments/analytical-platform-compute/helm-charts-actions-runners.tf
  terraform/environments/analytical-platform-compute/helm-charts-system.tf
  terraform/environments/analytical-platform-compute/iam-policies.tf
  terraform/environments/analytical-platform-compute/iam-roles.tf
  terraform/environments/analytical-platform-compute/locals.tf
  terraform/environments/analytical-platform-compute/s3-buckets.tf
  terraform/environments/analytical-platform-compute/security-groups.tf
  terraform/environments/analytical-platform-compute/src/helm/charts/karpenter-configuration/Chart.yaml
  terraform/environments/analytical-platform-compute/src/helm/charts/karpenter-configuration/templates/ec2-node-class-bottlerocket-general.yaml
  terraform/environments/analytical-platform-compute/src/helm/charts/karpenter-configuration/templates/ec2-node-class-bottlerocket-gpu.yaml
  terraform/environments/analytical-platform-compute/src/helm/charts/karpenter-configuration/templates/node-pool-airflow-high-memory.yaml
  terraform/environments/analytical-platform-compute/src/helm/charts/karpenter-configuration/templates/node-pool-general-on-demand.yaml
  terraform/environments/analytical-platform-compute/src/helm/charts/karpenter-configuration/templates/node-pool-general-spot.yaml
  terraform/environments/analytical-platform-compute/src/helm/charts/karpenter-configuration/templates/node-pool-gpu-on-demand.yaml
  terraform/environments/analytical-platform-compute/src/helm/charts/karpenter-configuration/templates/node-pool-gpu-spot.yaml
  terraform/environments/analytical-platform-compute/vpc-endpoints.tf
  terraform/environments/analytical-platform-compute/vpc.tf
Labels: environments-repository

#9257 GlueJob concurrency set to max-12
  terraform/environments/electronic-monitoring-data/dms_data_validation_glue_job_v2.tf
Labels: environments-repository

#9256 Fix missing GITHUB_TOKEN environment variable in workflow
  .github/workflows/generate-dependabot-file.yml
Labels: environments-repository, github-workflow

#9263 Add AWS Glue catalog database resource for database access grants
  terraform/environments/electronic-monitoring-data/modules/lakeformation_database_share/main.tf
Labels: environments-repository

#9273 Comment out blocking policy and attachment
  terraform/environments/delius-core/modules/components/oracle_db_shared/backup_vault.tf
Labels: environments-repository

#9239 Cwa cdc poc
  terraform/environments/laa-stabilisation-cdc-poc/application_variables.json
  terraform/environments/laa-stabilisation-cdc-poc/bastion.tf
  terraform/environments/laa-stabilisation-cdc-poc/bastion_linux.json
  terraform/environments/laa-stabilisation-cdc-poc/database.tf
  terraform/environments/laa-stabilisation-cdc-poc/db-cw-custom.sh
  terraform/environments/laa-stabilisation-cdc-poc/ec2_iam_profile.tf
  terraform/environments/laa-stabilisation-cdc-poc/efs.tf
  terraform/environments/laa-stabilisation-cdc-poc/locals.tf
  terraform/environments/laa-stabilisation-cdc-poc/s3.tf
  terraform/environments/laa-stabilisation-cdc-poc/scripts/db-postbuild.sh
  terraform/environments/laa-stabilisation-cdc-poc/scripts/db-prereqs.sh
Labels: environments-repository

#9275 Update_090125_1
  terraform/environments/ppud/sns.tf
Labels: environments-repository

#9277 Revert change to specify github provider version.
  terraform/environments/tipstaff/platform_providers.tf
Labels: environments-repository

#9286 Update_090125_2
  terraform/environments/ppud/sns.tf
Labels: environments-repository

#9278 Tribunals: delete lambda functions and all zip files
  terraform/environments/tribunals/lambda.tf
  terraform/environments/tribunals/lambda_function/app_post_migrate.py
  terraform/environments/tribunals/lambda_function/app_setup_db.py
  terraform/environments/tribunals/lambda_function/db_setup_deployment_package.zip
  terraform/environments/tribunals/lambda_function/db_setup_scripts/administrative_appeals/sp_migration.sql
  terraform/environments/tribunals/lambda_function/db_setup_scripts/ahmlr/sp_migration.sql
  terraform/environments/tribunals/lambda_function/db_setup_scripts/asylum_support/sp_migration.sql
  terraform/environments/tribunals/lambda_function/db_setup_scripts/care_standards/sp_migration.sql
  terraform/environments/tribunals/lambda_function/db_setup_scripts/cicap/sp_migration.sql
  terraform/environments/tribunals/lambda_function/db_setup_scripts/employment_appeals/sp_migration.sql
  terraform/environments/tribunals/lambda_function/db_setup_scripts/finance_and_tax/sp_migration.sql
  terraform/environments/tribunals/lambda_function/db_setup_scripts/immigration_services/sp_migration.sql
  terraform/environments/tribunals/lambda_function/db_setup_scripts/information_tribunal/sp_migration.sql
  terraform/environments/tribunals/lambda_function/db_setup_scripts/lands_chamber/sp_migration.sql
  terraform/environments/tribunals/lambda_function/db_setup_scripts/transport/sp_migration.sql
  terraform/environments/tribunals/lambda_function/post_migrate_deployment_package.zip
  terraform/environments/tribunals/pyodbc311.zip
  terraform/environments/tribunals/rds.tf
Labels: environments-repository

#9272 Analytical Platform Compute: Enabling Bandwidth Plugin in VPC CNI
  terraform/environments/analytical-platform-compute/eks-cluster.tf
Labels: environments-repository

#9287 Updated defect dojo ec2 instance type to t2.large
  terraform/environments/panda-cyber-appsec-lab/ec2.tf
Labels: environments-repository

#9290 Add DE role permissions to lakeformation_database_share module
  terraform/environments/electronic-monitoring-data/analytical_platform_share.tf
  terraform/environments/electronic-monitoring-data/modules/lakeformation_database_share/main.tf
  terraform/environments/electronic-monitoring-data/modules/lakeformation_database_share/variables.tf
Labels: environments-repository

#9292 fix security group due to limits
  terraform/environments/hmpps-domain-services/locals_lbs.tf
  terraform/environments/hmpps-domain-services/locals_security_groups.tf
Labels: environments-repository

#9291 TM-861: add ec2 throughput to dashboards
  terraform/environments/corporate-staff-rostering/locals_cloudwatch_dashboards.tf
  terraform/environments/corporate-staff-rostering/locals_production.tf
  terraform/environments/nomis/locals_cloudwatch_dashboards.tf
  terraform/environments/nomis/locals_production.tf
  terraform/environments/oasys/locals_cloudwatch_dashboards.tf
  terraform/environments/oasys/locals_production.tf
  terraform/modules/baseline_presets/cloudwatch_dashboards.tf
  terraform/modules/cloudwatch_dashboard/main.tf
  terraform/modules/cloudwatch_dashboard/variables.tf
Labels: environments-repository

#9304 add missing sg reference
  terraform/environments/hmpps-domain-services/locals_security_groups.tf
Labels: environments-repository

#9285 dv job altered to add optional src-prq read-1
  terraform/environments/electronic-monitoring-data/dms_data_validation_glue_job_v2.tf
  terraform/environments/electronic-monitoring-data/glue-job/dms_dv_on_rows_hashvalue_partitionby_yyyy_mm.py
  terraform/environments/electronic-monitoring-data/glue-job/reusable_module/glue_data_validation_lib.py
Labels: environments-repository

#9288 Add CDC team SSH keys
  terraform/environments/laa-stabilisation-cdc-poc/bastion_linux.json
Labels: environments-repository

#9303 [DPR2-1576] Update table expiry lambda
  terraform/environments/digital-prison-reporting/locals.tf
Labels: environments-repository

#9305 Do not remove the STAFF_ID column
  terraform/environments/delius-core/files/user_outbound_table_mapping.json
Labels: environments-repository

#9276 add new module for mdss
  terraform/environments/electronic-monitoring-data/ap_airflow_iam.tf
Labels: environments-repository

#8950 fix: Refactor user data handling in Oracle DB instance module and update scripts for SSH key setup
  terraform/environments/delius-core/modules/components/oracle_db_instance/instance.tf
  terraform/environments/delius-core/modules/components/oracle_db_instance/templates/concatenated_user_data.sh
  terraform/environments/delius-core/modules/components/oracle_db_instance/templates/ssh_key_setup.sh
Labels: Stale, environments-repository

#9308 TM-680: ncr: lb permissions for clean start and stop of env
  terraform/environments/nomis-combined-reporting/locals_preproduction.tf
Labels: environments-repository

#9310 New files for terraform/environments
  .github/CODEOWNERS
  .github/workflows/delius-alfresco.yml
  terraform/environments/delius-alfresco/README.md
  terraform/environments/delius-alfresco/application_variables.json
  terraform/environments/delius-alfresco/data.tf
  terraform/environments/delius-alfresco/locals.tf
  terraform/environments/delius-alfresco/networking.auto.tfvars.json
  terraform/environments/delius-alfresco/platform_backend.tf
  terraform/environments/delius-alfresco/platform_base_variables.tf
  terraform/environments/delius-alfresco/platform_data.tf
  terraform/environments/delius-alfresco/platform_locals.tf
  terraform/environments/delius-alfresco/platform_providers.tf
  terraform/environments/delius-alfresco/platform_secrets.tf
  terraform/environments/delius-alfresco/secrets.tf
  terraform/environments/delius-alfresco/versions.tf
Labels: environments-repository, github-workflow

#9311 [DPR2-1576] Update table expiry lambda
  terraform/environments/digital-prison-reporting/locals.tf
Labels: environments-repository

#9315 Prod code corrections - 1301-v1
  terraform/environments/electronic-monitoring-data/glue-job/dms_dv_on_rows_hashvalue_partitionby_yyyy_mm.py
  terraform/environments/electronic-monitoring-data/glue-job/reusable_module/glue_data_validation_lib.py
Labels: environments-repository

#9316 New files for terraform/environments
  terraform/environments/delius-alfresco/networking.auto.tfvars.json
Labels: environments-repository

#9318 add multi-az fsx share and db secrets bucket
  terraform/environments/oasys-national-reporting/locals_production.tf
Labels: environments-repository

#9323 tm-867: cloudwatch-config
  terraform/environments/nomis/locals_preproduction.tf
  terraform/environments/nomis/locals_production.tf
  terraform/environments/oasys/locals_production.tf
  terraform/modules/baseline_presets/cloudwatch.tf
  terraform/modules/baseline_presets/variables.tf
Labels: environments-repository

#9327 need iam policy for instance
  terraform/environments/oasys-national-reporting/locals_production.tf
Labels: environments-repository

#9328 TM-860: nomis: revert disk space alarm threshold
  terraform/environments/nomis/locals_cloudwatch_metric_alarms.tf
Labels: environments-repository

#9329 update security groups for nart client jumpservers RDP access
  terraform/environments/hmpps-domain-services/locals_security_groups.tf
Labels: environments-repository

#9326 Updated defect dojo user data to spin up defect dojo docker image
  terraform/environments/panda-cyber-appsec-lab/ec2.tf
Labels: environments-repository

#9331 Added create_before_destroy in defect dojo security group
  terraform/environments/panda-cyber-appsec-lab/ec2.tf
Labels: environments-repository

#9319 :wrench: Add ECR to `analytical-platform-common`
  terraform/environments/analytical-platform-common/ecr.tf
  terraform/environments/analytical-platform-common/observability-platform.tf
Labels: environments-repository

#9330 [DPR2-1576] Update table expiry lambda
  terraform/environments/digital-prison-reporting/locals.tf
Labels: environments-repository

#9333 Prod code corrections - 1401-v1
  terraform/environments/electronic-monitoring-data/glue-job/dms_dv_on_rows_hashvalue_partitionby_yyyy_mm.py
Labels: environments-repository

#9336 Add share data catalogue policies
  terraform/environments/electronic-monitoring-data/share_data_catalogue_iam.tf
Labels: environments-repository

#9337 destroy ahead of manual domain removal
  terraform/environments/hmpps-domain-services/locals_preproduction.tf
  terraform/environments/hmpps-domain-services/locals_production.tf
  terraform/environments/hmpps-domain-services/locals_test.tf
Labels: environments-repository

#9338 Remove unecessary resources and add github action role
  terraform/environments/electronic-monitoring-data/share_data_catalogue_iam.tf
Labels: environments-repository

#9340 and put them back
  terraform/environments/hmpps-domain-services/locals_preproduction.tf
  terraform/environments/hmpps-domain-services/locals_production.tf
  terraform/environments/hmpps-domain-services/locals_test.tf
Labels: environments-repository

#9341 :pencil: Correct typo
  terraform/environments/analytical-platform-common/ecr.tf
Labels: environments-repository

#9343 🐳 Update JML Report ECR
  terraform/environments/analytical-platform-common/ecr-repositories.tf
  terraform/environments/analytical-platform-common/ecr.tf
Labels: environments-repository

#9254 add public dns record for oracle databases
  terraform/environments/delius-core/modules/components/oracle_db_instance/dns.tf
  terraform/environments/delius-core/modules/components/oracle_db_shared/sg.tf
  terraform/environments/delius-mis/locals_development.tf
Labels: environments-repository

#9345 CC-3072: Update connection to LZ TEST for all SGs
  terraform/environments/ccms-ebs-upgrade/application_variables.json
Labels: environments-repository

#9342 TM-883 fix dependency issue on ssm and sg rules
  terraform/environments/delius-core/modules/delius_environment/weblogic_params.tf
  terraform/environments/delius-core/modules/helpers/delius_microservice/sg.tf
Labels: environments-repository

#9347 TM-860: nomis: update number of webservers to 6 using latest release
  terraform/environments/nomis/locals_production.tf
Labels: environments-repository

#9348 Revert changes to dependabot script
  scripts/generate-dependabot-file.sh
Labels: environments-repository

#9361 TM-883 prod env setup
  terraform/environments/delius-core/modules/helpers/delius_microservice/sg.tf
Labels: environments-repository

#9322 Add in resources for remove snapshot lambda
  terraform/environments/laa-stabilisation-cdc-poc/backup_lambda.tf
Labels: environments-repository

#9363 Prod code corrections - 1501-v1
  terraform/environments/electronic-monitoring-data/dms_data_validation_glue_job_v2.tf
  terraform/environments/electronic-monitoring-data/glue-job/reusable_module/glue_data_validation_lib.py
Labels: environments-repository

#9332 add t2 lb back in
  terraform/environments/oasys-national-reporting/locals_test.tf
Labels: environments-repository

#9365 ✨ Add Audit Log Streaming Infrastructure for GitHub
  terraform/environments/operations-engineering/audit_log_streaming_github.tf
Labels: environments-repository

#9346 added the complained about error from yesterday's airflow logs
  terraform/environments/electronic-monitoring-data/ap_airflow_iam.tf
  terraform/environments/electronic-monitoring-data/modules/ap_airflow_iam_role/main.tf
  terraform/environments/electronic-monitoring-data/modules/ap_airflow_iam_role/outputs.tf
  terraform/environments/electronic-monitoring-data/modules/ap_airflow_iam_role/versions.tf
  terraform/environments/electronic-monitoring-data/modules/ap_airflow_load_data_iam_role/main.tf
  terraform/environments/electronic-monitoring-data/modules/ap_airflow_load_data_iam_role/variables.tf
Labels: environments-repository

#9367 ✨ Add Access For GitHub Audit Log Streaming
  terraform/environments/operations-engineering/audit_log_streaming_github.tf
Labels: environments-repository

#9366 :construction: initial commit to deploy pd-onr-bods-1 instance
  terraform/environments/oasys-national-reporting/locals_production.tf
Labels: environments-repository

#9369 tm-867: cloudwatch-agent-settings
  terraform/environments/corporate-staff-rostering/templates/cloud_watch_windows.json
Labels: environments-repository

#9370 :wrench: fix bods rdp access to allow azure gateway
  terraform/environments/oasys-national-reporting/locals_production.tf
  terraform/environments/oasys-national-reporting/locals_security_groups.tf
Labels: environments-repository

#9372 destroy pd-onr-bods-1 as drives failed to be provisioned
  terraform/environments/oasys-national-reporting/locals_production.tf
Labels: environments-repository

#9368 EM: Remove role name prefix
  terraform/environments/electronic-monitoring-data/modules/ap_airflow_iam_role/main.tf
Labels: environments-repository

#9373 deploy pd-onr-bods-1 with different volume initialization approach
  terraform/environments/oasys-national-reporting/locals_production.tf
  terraform/environments/oasys-national-reporting/templates/user-data-onr-bods-pwsh.yaml.tftpl
Labels: environments-repository

#9364 New files for terraform/environments
  .github/CODEOWNERS
Labels: environments-repository

#9309 PI-2526 SageMaker resources to support Probation Search
  terraform/environments/analytical-platform-compute/kms-keys.tf
  terraform/environments/analytical-platform-compute/sagemaker-probation-search.tf
Labels: environments-repository

#9376 :rewind: remove pd-onr-bods-1
  terraform/environments/oasys-national-reporting/locals_production.tf
Labels: environments-repository

#9377 :rocket: deploy pd-onr-bods-1 now script is fixed
  terraform/environments/oasys-national-reporting/locals_production.tf
Labels: environments-repository

#9382 [DPR2-1513] Deploy scheduled dataset lambda
  terraform/environments/digital-prison-reporting/locals.tf
  terraform/environments/digital-prison-reporting/scheduled_dataset_lambda.tf
Labels: environments-repository

#9384 :rocket: deploy pd-onr-bods-2
  terraform/environments/oasys-national-reporting/locals_production.tf
Labels: environments-repository

#9379 ✨ Add Role For GitHub Actions to Query CloudTrail
  terraform/environments/operations-engineering/audit_log_streaming_github_cloudtrail.tf
Labels: environments-repository

#9386 PI-2526 Fix logs permission for endpoint
  terraform/environments/analytical-platform-compute/sagemaker-probation-search.tf
Labels: environments-repository

#9389 PI-2526 Switch back to t2 instances in dev and preprod
  terraform/environments/analytical-platform-compute/sagemaker-probation-search.tf
Labels: environments-repository

#9391 DPR2-1685: Create secret placeholders and glue connections for Incentives and Non-associations
  terraform/environments/digital-prison-reporting/application_variables.json
Labels: environments-repository

#9387 :rocket: deploy lb for onr production
  terraform/environments/oasys-national-reporting/locals_preproduction.tf
  terraform/environments/oasys-national-reporting/locals_production.tf
Labels: environments-repository

#9396 [DPR2-1513] Scheduled dataset lambda version bump
  terraform/environments/digital-prison-reporting/locals.tf
Labels: environments-repository

#9397 Rename LF share files
  terraform/environments/electronic-monitoring-data/share_analytical_platform.tf
  terraform/environments/electronic-monitoring-data/share_cloud_platform.tf
Labels: environments-repository

#9399 remove `/` from fmd quicksight policy resource
  terraform/environments/analytical-platform-compute/iam-policies.tf
Labels: environments-repository

#9400 🔐 Add new public key for bastion access
  terraform/environments/cica-tariff/bastion_linux.json
Labels: environments-repository

#9398 🔧 🩹 Attach `LambdaECRImageRetrievalPolicy` to ECR Repository
  terraform/environments/analytical-platform-common/ecr-repositories.tf
Labels: environments-repository

#9402 :wrench: Correct 'service' -> 'Service'
  terraform/environments/analytical-platform-common/ecr-repositories.tf
Labels: environments-repository

#9404 A couple of GlueJobs commented
  terraform/environments/electronic-monitoring-data/dms_data_validation_glue_job_v2.tf
Labels: environments-repository

#9403 ✈️ APC MWAA
  terraform/environments/analytical-platform-compute/acm.tf
  terraform/environments/analytical-platform-compute/alb.tf
  terraform/environments/analytical-platform-compute/data.tf
  terraform/environments/analytical-platform-compute/eks-cluster.tf
  terraform/environments/analytical-platform-compute/environment-configuration.tf
  terraform/environments/analytical-platform-compute/iam-policies.tf
  terraform/environments/analytical-platform-compute/iam-roles.tf
  terraform/environments/analytical-platform-compute/kms-keys.tf
  terraform/environments/analytical-platform-compute/kubernetes-namespaces.tf
  terraform/environments/analytical-platform-compute/kubernetes-role-bindings.tf
  terraform/environments/analytical-platform-compute/kubernetes-roles.tf
  terraform/environments/analytical-platform-compute/mwaa.tf
  terraform/environments/analytical-platform-compute/route53-records.tf
  terraform/environments/analytical-platform-compute/s3-buckets.tf
  terraform/environments/analytical-platform-compute/s3-objects.tf
  terraform/environments/analytical-platform-compute/security-groups.tf
  terraform/environments/analytical-platform-compute/src/airflow/kube_config
  terraform/environments/analytical-platform-compute/src/airflow/requirements.txt
  terraform/environments/analytical-platform-compute/versions.tf
Labels: environments-repository

#9410 🎟️ Add IAM policy and role for interacting with MWAA KMS and S3
  terraform/environments/analytical-platform-compute/iam-policies.tf
  terraform/environments/analytical-platform-compute/iam-roles.tf
  terraform/environments/analytical-platform-compute/s3-buckets.tf
Labels: environments-repository

#9375 TM-865 Adding in build for TST and PRE
  terraform/environments/laa-mail-relay/application_variables.json
  terraform/environments/laa-mail-relay/ses.tf
  terraform/environments/laa-mail-relay/smtp.tf
Labels: environments-repository

#9415 TM: extend global protect internal range
  terraform/modules/ip_addresses/moj.tf
Labels: environments-repository

#9416 update capita ip
  terraform/environments/electronic-monitoring-data/locals.tf
Labels: environments-repository

#9418 tm-867: csr cloudwatch-config
  terraform/environments/corporate-staff-rostering/templates/cloud_watch_windows.json
Labels: environments-repository

#9428 update allow listed serco export ip
  terraform/environments/electronic-monitoring-data/s3.tf
Labels: environments-repository

#9430 🛂 Add Kubernetes role and role binding for MWAA service account management
  terraform/environments/analytical-platform-compute/eks-cluster.tf
  terraform/environments/analytical-platform-compute/iam-policies.tf
  terraform/environments/analytical-platform-compute/kubernetes-role-bindings.tf
  terraform/environments/analytical-platform-compute/kubernetes-roles.tf
Labels: environments-repository

#9432 🛂 Add `ecr:DescribeRepositories` to ECR access role
  terraform/environments/analytical-platform-common/iam-policies.tf
Labels: environments-repository

#9431 add other trusted roles and allowed domains to fmd quicksight policy
  terraform/environments/analytical-platform-compute/iam-policies.tf
  terraform/environments/analytical-platform-compute/iam-roles.tf
Labels: environments-repository

#9438 TM: planetfm: increase T drive to 250 on pd-cafm-db-b
  terraform/environments/planetfm/locals_production.tf
Labels: environments-repository

#9441 Update bastion_linux.json
  terraform/environments/laa-stabilisation-cdc-poc/bastion_linux.json
Labels: environments-repository

#9439 tm-713: revising-policies
  terraform/modules/baseline_presets/backups.tf
Labels: environments-repository

#9442 TM-713: revising-backup-policies
  terraform/modules/baseline_presets/backups.tf
Labels: environments-repository

#9445 if the config is too long we can't deploy it
  terraform/environments/oasys-national-reporting/templates/cloud_watch_windows.json
Labels: environments-repository

#9446 change param to advanced
  terraform/environments/oasys-national-reporting/templates/cloud_watch_windows.json
  terraform/modules/baseline/ssm.tf
  terraform/modules/baseline/variables.tf
  terraform/modules/baseline_presets/ssm.tf
Labels: environments-repository

#9378 CC-2816: Added the payment-load-monitor Lambda function.
  terraform/environments/ccms-ebs/application_variables.json
  terraform/environments/ccms-ebs/ccms-lambda-certificate-monitor.tf
  terraform/environments/ccms-ebs/ccms-lambda-monitor-payment-load.tf
  terraform/environments/ccms-ebs/lambda/payment_load_monitor.zip
Labels: environments-repository

#9457 Update_270125_1
  terraform/environments/ppud/eventbridge.tf
  terraform/environments/ppud/lambda_scripts/disable_cpu_alarm.py
Labels: environments-repository

#9448 Enhance database grant logic for live feed databases
  terraform/environments/electronic-monitoring-data/share_analytical_platform.tf
Labels: environments-repository

#9458 TM-864: onr: build t2 bip
  terraform/environments/oasys-national-reporting/locals_ec2_autoscaling_groups.tf
  terraform/environments/oasys-national-reporting/locals_ec2_instances.tf
  terraform/environments/oasys-national-reporting/locals_lbs.tf
  terraform/environments/oasys-national-reporting/locals_security_groups.tf
  terraform/environments/oasys-national-reporting/locals_test.tf
Labels: environments-repository

#9459 New files for terraform/environments
  .github/CODEOWNERS
Labels: environments-repository

#9405 TM-882 Offboard George Taylor
  terraform/environments/delius-core/bastion_linux.json
  terraform/environments/delius-core/db_users.json
  terraform/environments/delius-jitbit/bastion_linux.json
  terraform/environments/delius-mis/bastion_linux.json
  terraform/environments/delius-mis/db_users.json
  terraform/environments/delius-nextcloud/bastion_linux.json
Labels: environments-repository

#9325 🚚 Analytical Platform OPG DataSync modifications
  terraform/environments/analytical-platform-ingestion/datasync-locations.tf
  terraform/environments/analytical-platform-ingestion/datasync-tasks.tf
  terraform/environments/analytical-platform-ingestion/iam-policies.tf
  terraform/environments/analytical-platform-ingestion/s3.tf
Labels: environments-repository

#9462 🪣 Prepare Analytical Platform Terraform state store in Common account
  terraform/environments/analytical-platform-common/ecr-repositories.tf
  terraform/environments/analytical-platform-common/iam-policies.tf
  terraform/environments/analytical-platform-common/iam-role.tf
  terraform/environments/analytical-platform-common/kms-keys.tf
  terraform/environments/analytical-platform-common/s3-buckets.tf
Labels: environments-repository

#9463 🛂 Add `DeleteObject` permissions
  terraform/environments/analytical-platform-common/iam-policies.tf
Labels: environments-repository

#9464 🛟 Add versioning to Terraform state bucket
  terraform/environments/analytical-platform-common/s3-buckets.tf
Labels: environments-repository

#9465 tm-925: testing-vss-tag
  terraform/environments/planetfm/locals_production.tf
Labels: environments-repository

#9466 CC-3109-CDC-POC-access
  terraform/environments/laa-stabilisation-cdc-poc/bastion_linux.json
Labels: environments-repository

#9451 Converting Analytical Platform Compute to Support Components
  .github/workflows/analytical-platform-compute.yml
  terraform/environments/analytical-platform-compute/platform_backend.tf
  terraform/environments/analytical-platform-compute/versions.tf
Labels: environments-repository, github-workflow

#9468 🚑 Remove MFA requirements from service role
  terraform/environments/analytical-platform-common/iam-role.tf
Labels: environments-repository

#9470 Update_270125_2
  terraform/environments/ppud/instances.tf
Labels: environments-repository

#9469 🛂 Allow GHA role to assume infrastructure access role
  terraform/environments/analytical-platform-common/iam-policies.tf
Labels: environments-repository

#9477 TM: onr: security group fixes
  terraform/environments/oasys-national-reporting/locals_security_groups.tf
  terraform/environments/oasys-national-reporting/locals_test.tf
Labels: environments-repository

#9479 [DPR2-1513] version bump for scheduled dataset lambda
  terraform/environments/digital-prison-reporting/locals.tf
Labels: environments-repository

#9480 🔒 Add resources for storing cluster data
  terraform/environments/analytical-platform-common/iam-policies.tf
  terraform/environments/analytical-platform-common/kms-keys.tf
  terraform/environments/analytical-platform-common/secrets.tf
Labels: environments-repository

#9460 ✈️ Add Airflow plugins
  terraform/environments/analytical-platform-compute/archive.tf
  terraform/environments/analytical-platform-compute/eks-cluster.tf
  terraform/environments/analytical-platform-compute/mwaa.tf
  terraform/environments/analytical-platform-compute/s3-objects.tf
  terraform/environments/analytical-platform-compute/scripts/eks-authentication.sh
  terraform/environments/analytical-platform-compute/src/airflow/local-settings/development/airflow_local_settings.py
  terraform/environments/analytical-platform-compute/src/airflow/local-settings/production/airflow_local_settings.py
  terraform/environments/analytical-platform-compute/src/airflow/local-settings/test/airflow_local_settings.py
  terraform/environments/analytical-platform-compute/src/airflow/plugins/airflow_local_settings.py
  terraform/environments/analytical-platform-compute/src/airflow/plugins/analytical_platform_menu_links.py
  terraform/environments/analytical-platform-compute/versions.tf
Labels: environments-repository

#9476 Update IAM role configurations for development environment
  terraform/environments/electronic-monitoring-data/ap_airflow_iam.tf
  terraform/environments/electronic-monitoring-data/modules/ap_airflow_load_data_iam_role/main.tf
  terraform/environments/electronic-monitoring-data/modules/lakeformation_database_share/main.tf
  terraform/environments/electronic-monitoring-data/share_analytical_platform.tf
  terraform/environments/electronic-monitoring-data/share_data_catalogue_iam.tf
Labels: environments-repository

#9433 Dba 834
  terraform/environments/delius-core/locals_development.tf
  terraform/environments/delius-core/modules/components/oracle_db_shared/oracle_observer.tf
  terraform/environments/delius-core/modules/components/oracle_db_shared/variables.tf
  terraform/environments/delius-core/modules/delius_environment/database.tf
  terraform/environments/delius-core/modules/delius_environment/dms.tf
  terraform/environments/delius-core/modules/delius_environment/locals.tf
  terraform/environments/delius-core/modules/helpers/delius_microservice/load_balancing.tf
  terraform/environments/delius-core/modules/helpers/delius_microservice/outputs.tf
  terraform/environments/delius-core/modules/helpers/delius_microservice/sg.tf
Labels: environments-repository

#9484 Cc 3081
  terraform/environments/ccms-ebs-upgrade/application_variables.json
  terraform/environments/ccms-ebs-upgrade/ccms-ec2-ftp-sg.tf
  terraform/environments/ccms-ebs-upgrade/ccms-ec2-ftp.tf
  terraform/environments/ccms-ebs-upgrade/ccms-secrets.tf
  terraform/environments/ccms-ebs-upgrade/r53.tf
  terraform/environments/ccms-ebs-upgrade/scripts/cron-ftp-15-v2.ksh
  terraform/environments/ccms-ebs-upgrade/scripts/curl-ftp-v2.ksh
  terraform/environments/ccms-ebs-upgrade/scripts/ftp.jobs.v2
  terraform/environments/ccms-ebs-upgrade/scripts/ftp_backup_housekeeping.bash
Labels: environments-repository

#9483 CC-3116: Added 250GB to the dbf04 volume in Production.
  terraform/environments/ccms-ebs/application_variables.json
Labels: environments-repository

#9489 [DPR2-1513] version bump for scheduled dataset lambda
  terraform/environments/digital-prison-reporting/locals.tf
Labels: environments-repository

#9490 CC-3109-CDC-POC-access
  terraform/environments/laa-stabilisation-cdc-poc/bastion_linux.json
Labels: environments-repository

#9491 CC-3109-CWA-CDC-POC-access
  terraform/environments/laa-stabilisation-cdc-poc/bastion_linux.json
Labels: environments-repository
