Repository ministryofjustice/modernisation-platform-environments, pull requests merged in 2025-09, with the labels that each got.

#12766 HUB-134 updated lambda with powertools layer
  terraform/environments/laa-enterprise-service-bus/lambda/provider_load_lambda/provider_load_package.zip
Labels: environments-repository

#12765 HUB-138, Updating application variables for TST env for deployment
  terraform/environments/laa-enterprise-service-bus/application_variables.json
  terraform/environments/laa-enterprise-service-bus/cwa_extract_lambda.tf
  terraform/environments/laa-enterprise-service-bus/eventbridge_schedule.tf
  terraform/environments/laa-enterprise-service-bus/maat_iam.tf
  terraform/environments/laa-enterprise-service-bus/s3.tf
  terraform/environments/laa-enterprise-service-bus/s3_policy.tf
Labels: environments-repository

#12769 Update_010925_1
  terraform/environments/ppud/s3.tf
Labels: environments-repository

#12717 Define role for Rekognition access within esupervision
  terraform/environments/hmpps-esupervision/application_variables.json
  terraform/environments/hmpps-esupervision/iam.tf
  terraform/environments/hmpps-esupervision/locals.tf
  terraform/environments/hmpps-esupervision/s3.tf
Labels: environments-repository

#12773 Update_020925_1
  terraform/environments/ppud/iam.tf
  terraform/environments/ppud/lambda.tf
  terraform/environments/ppud/ses.tf
  terraform/environments/ppud/sns.tf
Labels: environments-repository

#12771 HUB-142, updating ccms security group so it points to 1522 for tst
  terraform/environments/laa-enterprise-service-bus/ccms_lambda.tf
Labels: environments-repository

#12778 TM-1526: oasys: enable xsiam S3 access log integration in preprod
  terraform/environments/oasys/locals_preproduction.tf
Labels: environments-repository

#12782 update jdbc to ebs nlb for prod
  terraform/environments/laa-ccms-soa/application_variables.json
Labels: environments-repository

#12781 Remove IAM user for Rekognition operations in E-supervision
  terraform/environments/hmpps-esupervision/iam.tf
  terraform/environments/hmpps-esupervision/s3.tf
Labels: environments-repository

#12569 DPR Lakeformation Share Permissions
  terraform/environments/digital-prison-reporting/application_variables.json
  terraform/environments/digital-prison-reporting/policy.tf
Labels: environments-repository

#12786 :wrench: Add `s3:GetObject` to allow users to list objects
  terraform/environments/analytical-platform-ingestion/README.md
  terraform/environments/analytical-platform-ingestion/modules/transfer-family/user-with-egress/main.tf
  terraform/environments/analytical-platform-ingestion/modules/transfer-family/user/main.tf
Labels: environments-repository

#12777 TM-1338 ldap training env refactor (initial setup of resources for the delius core training env in its own AWS account.)
  terraform/environments/delius-core-training/bastion_linux.json
  terraform/environments/delius-core-training/db_users.json
  terraform/environments/delius-core-training/files/.ssh/training/ec2-user.pub
  terraform/environments/delius-core-training/files/audit_external_table_definition.json
  terraform/environments/delius-core-training/files/user_external_table_definition.json
  terraform/environments/delius-core-training/locals.tf
  terraform/environments/delius-core-training/locals_environments_all.tf
  terraform/environments/delius-core-training/locals_training.tf
  terraform/environments/delius-core-training/main_training.tf
  terraform/environments/delius-core-training/modules/delius_environment/README.md
  terraform/environments/delius-core-training/modules/delius_environment/alb_ancillary.tf
  terraform/environments/delius-core-training/modules/delius_environment/alb_frontend.tf
  terraform/environments/delius-core-training/modules/delius_environment/bastion_linux.tf
  terraform/environments/delius-core-training/modules/delius_environment/cloudwatch.tf
  terraform/environments/delius-core-training/modules/delius_environment/common_ecs.tf
  terraform/environments/delius-core-training/modules/delius_environment/data.tf
  terraform/environments/delius-core-training/modules/delius_environment/database.tf
  terraform/environments/delius-core-training/modules/delius_environment/dms.tf
  terraform/environments/delius-core-training/modules/delius_environment/dns.tf
  terraform/environments/delius-core-training/modules/delius_environment/ip.tf
  terraform/environments/delius-core-training/modules/delius_environment/ldap.tf
  terraform/environments/delius-core-training/modules/delius_environment/ldap_ecs.tf
  terraform/environments/delius-core-training/modules/delius_environment/locals.tf
  terraform/environments/delius-core-training/modules/delius_environment/newtech.tf
  terraform/environments/delius-core-training/modules/delius_environment/outputs.tf
  terraform/environments/delius-core-training/modules/delius_environment/pagerduty.tf
  terraform/environments/delius-core-training/modules/delius_environment/pwm.tf
  terraform/environments/delius-core-training/modules/delius_environment/ssm.tf
  terraform/environments/delius-core-training/modules/delius_environment/templates/PwmConfiguration.xml.tpl
  terraform/environments/delius-core-training/modules/delius_environment/templates/userdata.sh.tftpl
  terraform/environments/delius-core-training/modules/delius_environment/variables.tf
  terraform/environments/delius-core-training/modules/delius_environment/versions.tf
  terraform/environments/delius-core-training/modules/delius_environment/weblogic.tf
  terraform/environments/delius-core-training/modules/delius_environment/weblogic_eis.tf
  terraform/environments/delius-core-training/modules/delius_environment/weblogic_params.tf
  terraform/environments/delius-core/bastion_linux.json
  terraform/environments/delius-core/modules/components/dms/cloudwatch-alarms.tf
  terraform/environments/delius-core/modules/components/ecs_retirement/iam.tf
  terraform/environments/delius-core/modules/components/ecs_retirement/lambda.tf
  terraform/environments/delius-core/modules/components/ldap/datasync.tf
  terraform/environments/delius-core/modules/components/oracle_db_instance/cloudwatch.tf
  terraform/environments/delius-core/modules/components/oracle_db_shared/backup_vault.tf
  terraform/environments/delius-core/modules/components/oracle_db_shared/iam.tf
  terraform/environments/delius-core/modules/components/oracle_db_shared/locals.tf
  terraform/environments/delius-core/modules/components/oracle_db_shared/non_working_days.tf
  terraform/environments/delius-core/modules/components/oracle_db_shared/s3.tf
  terraform/environments/delius-core/modules/delius_environment/alb_ancillary.tf
  terraform/environments/delius-core/modules/delius_environment/alb_frontend.tf
  terraform/environments/delius-core/modules/delius_environment/ssm.tf
  terraform/environments/delius-core/modules/helpers/delius_microservice/load_balancing.tf
Labels: environments-repository

#12792 EM: new sftp server ssh and ip address
  terraform/environments/electronic-monitoring-data/locals.tf
Labels: environments-repository

#12793 New files for terraform/environments
  .github/CODEOWNERS
Labels: environments-repository

#12692 EM: add destination bucket for p1
  terraform/environments/electronic-monitoring-data/s3.tf
Labels: environments-repository

#12801 EM: Migrate load fms to new airflow
  terraform/environments/electronic-monitoring-data/ap_airflow_iam.tf
Labels: environments-repository

#12805 fix csp for tableau
  terraform/environments/youth-justice-app-framework/modules/cloudfront/main.tf
Labels: environments-repository

#12807 Updated zip lambda python lib version.
  terraform/environments/maatdb/application_variables.json
  terraform/environments/maatdb/locals.tf
  terraform/environments/maatdb/modules/rds/rds.tf
  terraform/environments/maatdb/rds.tf
Labels: environments-repository

#12810 TM-1540: increase planetfm S drive
  terraform/environments/planetfm/locals_production.tf
Labels: environments-repository

#12811 HUB-144, updating and adding tags to resources
  terraform/environments/laa-enterprise-service-bus/cclf_iam.tf
  terraform/environments/laa-enterprise-service-bus/ccms_iam.tf
  terraform/environments/laa-enterprise-service-bus/ccr_iam.tf
  terraform/environments/laa-enterprise-service-bus/cwa_extract_iam.tf
  terraform/environments/laa-enterprise-service-bus/eventbridge_iam.tf
  terraform/environments/laa-enterprise-service-bus/kms.tf
  terraform/environments/laa-enterprise-service-bus/maat_iam.tf
  terraform/environments/laa-enterprise-service-bus/purge_lambda_iam.tf
  terraform/environments/laa-enterprise-service-bus/secrets.tf
  terraform/environments/laa-enterprise-service-bus/sfn.tf
  terraform/environments/laa-enterprise-service-bus/sns.tf
  terraform/environments/laa-enterprise-service-bus/sns_iam.tf
  terraform/environments/laa-enterprise-service-bus/sqs.tf
  terraform/environments/laa-enterprise-service-bus/ssm.tf
Labels: environments-repository

#12816 fixed policy
  terraform/environments/coat/templates/coat-cur-v2-hourly-prod-bucket-policy.json
Labels: environments-repository

#12817 Revert "fixed policy"
  terraform/environments/coat/templates/coat-cur-v2-hourly-prod-bucket-policy.json
Labels: environments-repository

#12814 Dms step function
  terraform/environments/electronic-monitoring-data/dms_event_bridge.tf
  terraform/environments/electronic-monitoring-data/dms_iam.tf
  terraform/environments/electronic-monitoring-data/dms_main.tf
  terraform/environments/electronic-monitoring-data/modules/dms/iam.tf
  terraform/environments/electronic-monitoring-data/modules/dms/variables.tf
  terraform/environments/electronic-monitoring-data/step_functions_main.tf
Labels: environments-repository

#12823 New files for terraform/environments
  .github/CODEOWNERS
Labels: environments-repository

#12820 🧼 Clean Data Platform
  terraform/environments/data-platform/api.tf
  terraform/environments/data-platform/application_variables.auto.tfvars.json
  terraform/environments/data-platform/athena.tf
  terraform/environments/data-platform/cloudtrail.tf
  terraform/environments/data-platform/data-product-metadata-json-schema/v1.0.0/moj_data_product_metadata_spec.json
  terraform/environments/data-platform/data-product-metadata-json-schema/v1.1.0/moj_data_product_metadata_spec.json
  terraform/environments/data-platform/data-product-table-schema-json-schema/v1.0.0/moj_data_product_table_spec.json
  terraform/environments/data-platform/environment-configuration.tf
  terraform/environments/data-platform/environment-configurations.tf
  terraform/environments/data-platform/glue.tf
  terraform/environments/data-platform/iam-policies.tf
  terraform/environments/data-platform/iam-roles.tf
  terraform/environments/data-platform/iam.tf
  terraform/environments/data-platform/infra_route53.tf
  terraform/environments/data-platform/lambda.tf
  terraform/environments/data-platform/locals.tf
  terraform/environments/data-platform/observability-platform.tf
  terraform/environments/data-platform/output.tf
  terraform/environments/data-platform/s3.tf
  terraform/environments/data-platform/secrets.tf
  terraform/environments/data-platform/tests/delete_table.py
  terraform/environments/data-platform/tests/requirements.txt
  terraform/environments/data-platform/tests/run_smoke_tests.py
  terraform/environments/data-platform/tests/test_data.csv
  terraform/environments/data-platform/triggers.tf
  terraform/environments/data-platform/variables.tf
  terraform/environments/data-platform/waf.tf
Labels: environments-repository

#12839 Coat data sync permissions
  terraform/environments/coat/iam.tf
  terraform/environments/coat/locals.tf
  terraform/environments/coat/templates/coat-cross-account-policy.json
Labels: environments-repository

#12840 added permissions to destination bucket
  terraform/environments/coat/templates/coat-cur-v2-hourly-prod-bucket-policy.json
Labels: environments-repository

#12838 🔢 Ingestion: Alphabetise users + remove duplicate `cidr_block`
  terraform/environments/analytical-platform-ingestion/environment-configuration.tf
Labels: environments-repository

#12825 ⚙️ Deploy NCSC AWS Config Conformance Packs
  terraform/environments/data-platform/aws-config-conformance-packs.tf
  terraform/environments/data-platform/aws-resource-explorer.tf
Labels: environments-repository

#12847 grant access to SSO role
  terraform/environments/coat/s3.tf
Labels: environments-repository

#12841 Add sharrison to bastion poc
  terraform/environments/laa-stabilisation-cdc-poc/bastion_linux.json
Labels: environments-repository

#12853 Release 52 hotfix: Make domain builder parameter group configurable per environment
  terraform/environments/digital-prison-reporting/application_variables.json
  terraform/environments/digital-prison-reporting/locals.tf
Labels: environments-repository

#12854 🔐 Add public keys for bastion
  terraform/environments/cica-tariff/bastion_linux.json
Labels: environments-repository

#12855 fix failure alerts in non prod for ftp lambda
  terraform/environments/ccms-ebs/ccms-ftp-lambda.tf
  terraform/environments/ccms-ebs/modules/ftp-lambda/main.tf
Labels: environments-repository

#12896 RST-5550: Fixing the CNAME record
  terraform/environments/tribunals/dns-delegate-route53.tf
Labels: environments-repository

#12899 New files for terraform/environments
  .github/CODEOWNERS
  .github/workflows/ccms-oia.yml
  terraform/environments/ccms-oia/README.md
  terraform/environments/ccms-oia/application_variables.json
  terraform/environments/ccms-oia/data.tf
  terraform/environments/ccms-oia/locals.tf
  terraform/environments/ccms-oia/networking.auto.tfvars.json
  terraform/environments/ccms-oia/platform_backend.tf
  terraform/environments/ccms-oia/platform_base_variables.tf
  terraform/environments/ccms-oia/platform_data.tf
  terraform/environments/ccms-oia/platform_locals.tf
  terraform/environments/ccms-oia/platform_providers.tf
  terraform/environments/ccms-oia/platform_secrets.tf
  terraform/environments/ccms-oia/secrets.tf
  terraform/environments/ccms-oia/versions.tf
Labels: environments-repository, github-workflow

#12897 Xhibit-Portal: add Prisma VPN access to PRTG WAF WebACL
  .trivyignore.yaml
  terraform/environments/xhibit-portal/xhibit-waf.tf
Labels: environments-repository

#12900 Update_150925_1
  terraform/environments/ppud/README.md
  terraform/environments/ppud/alb_external.tf
  terraform/environments/ppud/alb_internal.tf
  terraform/environments/ppud/endpointservice.tf
  terraform/environments/ppud/instances.tf
Labels: environments-repository

#12902 New files for terraform/environments
  terraform/environments/ccms-oia/networking.auto.tfvars.json
Labels: environments-repository

#12844 rewrite vcms to remove module dependency
  terraform/environments/vcms/ecs.tf
  terraform/environments/vcms/ecs_iam.tf
  terraform/environments/vcms/efs.tf
  terraform/environments/vcms/lb.tf
  terraform/environments/vcms/locals.tf
  terraform/environments/vcms/rds.tf
  terraform/environments/vcms/redis.tf
  terraform/environments/vcms/route53.tf
Labels: environments-repository

#12901 RST-5550: Changing service for cloudfront logs
  terraform/environments/tribunals/cloudfront.tf
Labels: environments-repository

#12859 Concept Data Pipeline added
  terraform/environments/property-cafm-data-migration/architectural-design-diagrams/csv-to-parquet.excalidraw.png
  terraform/environments/property-cafm-data-migration/architectural-design-diagrams/mssql-rds-delete.excalidraw.png
  terraform/environments/property-cafm-data-migration/architectural-design-diagrams/mssql-rds-export.excalidraw.png
  terraform/environments/property-cafm-data-migration/architectural-design-diagrams/mssql-rds-restore.excalidraw.png
  terraform/environments/property-cafm-data-migration/architectural-design-diagrams/property-datahub-hld.excalidraw.png
  terraform/environments/property-cafm-data-migration/main.tf
  terraform/environments/property-cafm-data-migration/modules/transfer_family/server/versions.tf
  terraform/environments/property-cafm-data-migration/modules/transfer_family/ssh_key/versions.tf
  terraform/environments/property-cafm-data-migration/modules/transfer_family/users/versions.tf
  terraform/environments/property-cafm-data-migration/s3.tf
  terraform/environments/property-cafm-data-migration/versions.tf
  terraform/environments/property-cafm-data-migration/vpc.tf
Labels: environments-repository

#12903 New files for terraform/environments
  .github/CODEOWNERS
Labels: environments-repository

#12908 TM-1546: enable remaining oracle listener xsiam integration
  terraform/environments/nomis/locals_production.tf
  terraform/environments/oasys/locals_preproduction.tf
  terraform/environments/oasys/locals_production.tf
Labels: environments-repository

#12909 Update_160925_1
  terraform/environments/ppud/lambda.tf
Labels: environments-repository

#12916 Update_160925_2
  terraform/environments/ppud/iam.tf
Labels: environments-repository

#12915 #11245
  terraform/environments/cooker/application_variables.json
  terraform/environments/cooker/main.tf
  terraform/environments/cooker/versions.tf
Labels: environments-repository

#12919 Update_160925_3
  terraform/environments/ppud/iam.tf
Labels: environments-repository

#12914 New files for terraform/environments
  .github/CODEOWNERS
  .github/workflows/ccms-pui-internal.yml
  terraform/environments/ccms-pui-internal/README.md
  terraform/environments/ccms-pui-internal/application_variables.json
  terraform/environments/ccms-pui-internal/data.tf
  terraform/environments/ccms-pui-internal/locals.tf
  terraform/environments/ccms-pui-internal/networking.auto.tfvars.json
  terraform/environments/ccms-pui-internal/platform_backend.tf
  terraform/environments/ccms-pui-internal/platform_base_variables.tf
  terraform/environments/ccms-pui-internal/platform_data.tf
  terraform/environments/ccms-pui-internal/platform_locals.tf
  terraform/environments/ccms-pui-internal/platform_providers.tf
  terraform/environments/ccms-pui-internal/platform_secrets.tf
  terraform/environments/ccms-pui-internal/secrets.tf
  terraform/environments/ccms-pui-internal/versions.tf
Labels: environments-repository, github-workflow

#12922 Update_160925_4
  terraform/environments/ppud/iam.tf
Labels: environments-repository

#12913 Add WAF logging
  terraform/environments/tribunals/waf.tf
Labels: environments-repository

#12927 Add siac.tribunals.gov.uk to waf allow list
  terraform/environments/tribunals/waf.tf
Labels: environments-repository

#12925 EM Capita: add an ip address
  terraform/environments/electronic-monitoring-data/locals.tf
Labels: environments-repository

#12924 New files for terraform/environments
  terraform/environments/ccms-pui-internal/networking.auto.tfvars.json
Labels: environments-repository

#12906 Add glenn-barber-cafm - CIDR block tbc
  terraform/environments/analytical-platform-ingestion/environment-configuration.tf
Labels: environments-repository

#12929 update csp to allow tableau
  terraform/environments/youth-justice-app-framework/modules/cloudfront/main.tf
Labels: environments-repository

#12843 Tm 1544 static analysis fixes
  terraform/environments/delius-core/.checkov.yaml
  terraform/environments/delius-core/.tflint.hcl
  terraform/environments/delius-core/image_builder.tf
  terraform/environments/delius-core/locals.tf
  terraform/environments/delius-core/locals_development.tf
  terraform/environments/delius-core/locals_environments_all.tf
  terraform/environments/delius-core/modules/components/dms/data.tf
  terraform/environments/delius-core/modules/components/dms/dms_inbound_tasks.tf
  terraform/environments/delius-core/modules/components/dms/dms_outbound_tasks.tf
  terraform/environments/delius-core/modules/components/dms/locals.tf
  terraform/environments/delius-core/modules/components/dms/variables.tf
  terraform/environments/delius-core/modules/components/ldap/datasync.tf
  terraform/environments/delius-core/modules/components/ldap/variables.tf
  terraform/environments/delius-core/modules/components/oracle_db_instance/cloudwatch.tf
  terraform/environments/delius-core/modules/components/oracle_db_instance/dns.tf
  terraform/environments/delius-core/modules/components/oracle_db_instance/locals.tf
  terraform/environments/delius-core/modules/components/oracle_db_instance/variables.tf
  terraform/environments/delius-core/modules/components/oracle_db_shared/iam.tf
  terraform/environments/delius-core/modules/components/oracle_db_shared/s3.tf
  terraform/environments/delius-core/modules/components/oracle_db_shared/variables.tf
  terraform/environments/delius-core/modules/delius_environment/common_ecs.tf
  terraform/environments/delius-core/modules/delius_environment/database.tf
  terraform/environments/delius-core/modules/delius_environment/dms.tf
  terraform/environments/delius-core/modules/delius_environment/ldap.tf
  terraform/environments/delius-core/modules/delius_environment/ssm.tf
  terraform/environments/delius-core/modules/delius_environment/versions.tf
  terraform/environments/delius-core/modules/delius_environment/weblogic_eis.tf
  terraform/environments/delius-core/modules/helpers/delius_microservice/load_balancing.tf
  terraform/environments/delius-core/modules/helpers/delius_microservice/locals.tf
  terraform/environments/delius-core/modules/helpers/delius_microservice/sg.tf
  terraform/environments/delius-core/modules/helpers/delius_microservice/versions.tf
  terraform/environments/delius-core/platform_locals.tf
  terraform/environments/delius-core/versions.tf
  terraform/environments/vcms/.checkov.yaml
  terraform/environments/vcms/ecs.tf
Labels: environments-repository

#12932 Re-introduce web acl logs
  terraform/environments/tribunals/waf.tf
Labels: environments-repository

#12944 Update_170925_1
  terraform/environments/ppud/lambda.tf
  terraform/environments/ppud/lambda_layers.tf
Labels: environments-repository

#12887 HUB-151, creating lambda failure alarms
  terraform/environments/laa-enterprise-service-bus/cloudwatch.tf
Labels: environments-repository

#12938 RST-5550: Adding ignore changes for template user data
  terraform/environments/tribunals/asg-shared.tf
Labels: environments-repository

#12956 Update_170925_3
  terraform/environments/ppud/lambda.tf
  terraform/environments/ppud/lambda_layers.tf
Labels: environments-repository

#12965 🪵 S3 access logging
  terraform/environments/data-platform/aws-s3-access-logging.tf
Labels: environments-repository

#12967 🌐 Data Platform DNS
  terraform/environments/data-platform/dns/platform_providers.tf
  terraform/environments/data-platform/dns/route53-records.tf
  terraform/environments/data-platform/dns/route53-zones.tf
Labels: environments-repository

#12973 Revert "Minor syslog update"
  terraform/environments/youth-justice-networking/ec2.tf
Labels: environments-repository

#12570 Yjaf-networking-replication-bucket
  terraform/environments/youth-justice-networking/s3.tf
  terraform/environments/youth-justice-networking/versions.tf
Labels: Stale, environments-repository

#12974 Revert "Revert "Minor syslog update""
  terraform/environments/youth-justice-networking/ec2.tf
Labels: environments-repository

#12975 New files for terraform/environments
  .github/CODEOWNERS
  terraform/environments/ccms-pui-internal/workspaces-secure-browser/networking.auto.tfvars.json
  terraform/environments/ccms-pui-internal/workspaces-secure-browser/platform_backend.tf
  terraform/environments/ccms-pui-internal/workspaces-secure-browser/platform_base_variables.tf
  terraform/environments/ccms-pui-internal/workspaces-secure-browser/platform_data.tf
  terraform/environments/ccms-pui-internal/workspaces-secure-browser/platform_locals.tf
  terraform/environments/ccms-pui-internal/workspaces-secure-browser/platform_providers.tf
  terraform/environments/ccms-pui-internal/workspaces-secure-browser/platform_secrets.tf
  terraform/environments/ccms-pui-internal/workspaces-secure-browser/versions.tf
Labels: environments-repository

#12971 🌕 Data Platform IaC
  .github/workflows/data-platform.yml
  terraform/environments/data-platform/aws-s3-access-logging.tf
  terraform/environments/data-platform/dns/environment-configuration.tf
  terraform/environments/data-platform/dns/route53-records.tf
  terraform/environments/data-platform/dns/route53-zones.tf
  terraform/environments/data-platform/iac/iam-roles.tf
  terraform/environments/data-platform/iac/kms-keys.tf
  terraform/environments/data-platform/iac/platform_providers.tf
  terraform/environments/data-platform/iac/s3-buckets.tf
Labels: environments-repository, github-workflow

#12982 Update_180925_2
  terraform/environments/ppud/alb_external.tf
  terraform/environments/ppud/lambda.tf
Labels: environments-repository

#12983 Update_180925_3
  terraform/environments/ppud/alb_external.tf
Labels: environments-repository

#12984 Update_180925_4
  terraform/environments/ppud/alb_external.tf
Labels: environments-repository

#12985 Update_180925_5
  terraform/environments/ppud/alb_external.tf
Labels: environments-repository

#12988 Update_180925_8
  terraform/environments/ppud/alb_external.tf
Labels: environments-repository

#12994 TM-1239: ncr: add cloudwatch alarms
  terraform/environments/nomis-combined-reporting/locals_cloudwatch_metric_alarms.tf
  terraform/environments/nomis-combined-reporting/locals_ec2_instances.tf
  terraform/environments/nomis-combined-reporting/locals_production.tf
Labels: environments-repository

#12998 🔥 Remove CAFM config
  terraform/environments/analytical-platform-ingestion/environment-configuration.tf
Labels: environments-repository

#12961 EM: set up sqs queue
  terraform/environments/electronic-monitoring-data/lambda_triggers.tf
  terraform/environments/electronic-monitoring-data/modules/landing_bucket/main.tf
  terraform/environments/electronic-monitoring-data/modules/sqs_s3_lambda_trigger/main.tf
  terraform/environments/electronic-monitoring-data/modules/sqs_s3_lambda_trigger/outputs.tf
  terraform/environments/electronic-monitoring-data/modules/sqs_s3_lambda_trigger/variables.tf
  terraform/environments/electronic-monitoring-data/modules/sqs_s3_lambda_trigger/versions.tf
Labels: environments-repository

#13004 Update_220925_1
  terraform/environments/ppud/certificates.tf
  terraform/environments/ppud/variables.tf
Labels: environments-repository

#13047 New files for terraform/environments
  .github/CODEOWNERS
Labels: environments-repository

#13045 [HUB-150-deployment] fixing tf plan/apply errors
  terraform/environments/laa-enterprise-service-bus/ccms_iam.tf
  terraform/environments/laa-enterprise-service-bus/ccr_cloudwatch_lambda.tf
  terraform/environments/laa-enterprise-service-bus/cloudwatch_lambda.tf
Labels: environments-repository

#13060 TM-1239: ncr: monitoring and redundancy improvements
  terraform/environments/nomis-combined-reporting/locals_lbs.tf
  terraform/environments/nomis-combined-reporting/locals_preproduction.tf
  terraform/environments/nomis-combined-reporting/locals_production.tf
  terraform/environments/nomis-combined-reporting/locals_test.tf
Labels: environments-repository

#13061 TM-1239: ncr: add admin reporting endpoint monitoring
  terraform/environments/hmpps-oem/locals_cloudwatch_metric_alarms.tf
Labels: environments-repository

#13029 ssh from mgmt to yjsm/esb
  terraform/environments/youth-justice-app-framework/directory_service.tf
  terraform/environments/youth-justice-app-framework/esb.tf
  terraform/environments/youth-justice-app-framework/modules/directory-service/managment.tf
  terraform/environments/youth-justice-app-framework/modules/directory-service/variables.tf
  terraform/environments/youth-justice-app-framework/modules/esb/security-groups.tf
  terraform/environments/youth-justice-app-framework/modules/esb/variables.tf
  terraform/environments/youth-justice-app-framework/modules/yjsm/security-groups.tf
  terraform/environments/youth-justice-app-framework/ses.tf
Labels: environments-repository

#13044 Cc 3886
  terraform/environments/ccms-pui-internal/application_variables.json
  terraform/environments/ccms-pui-internal/capacity-provider.tf
  terraform/environments/ccms-pui-internal/certificates.tf
  terraform/environments/ccms-pui-internal/clamav-dns.tf
  terraform/environments/ccms-pui-internal/clamav-ec2.tf
  terraform/environments/ccms-pui-internal/clamav-iam.tf
  terraform/environments/ccms-pui-internal/clamav-sg.tf
  terraform/environments/ccms-pui-internal/data.tf
  terraform/environments/ccms-pui-internal/dns.tf
  terraform/environments/ccms-pui-internal/ec2.tf
  terraform/environments/ccms-pui-internal/ecs_cluster.tf
  terraform/environments/ccms-pui-internal/iam.tf
  terraform/environments/ccms-pui-internal/load_balancer.tf
  terraform/environments/ccms-pui-internal/locals.tf
  terraform/environments/ccms-pui-internal/logs.tf
  terraform/environments/ccms-pui-internal/s3.tf
  terraform/environments/ccms-pui-internal/secrets.tf
  terraform/environments/ccms-pui-internal/security.tf
  terraform/environments/ccms-pui-internal/templates/task_definition_pui.json.tpl
  terraform/environments/ccms-pui-internal/templates/user-data.sh
  terraform/environments/ccms-pui-internal/templates/user_data_clamav.sh
Labels: environments-repository

#13067 ACM_250925_2
  terraform/environments/ppud/data.tf
Labels: environments-repository

#13068 HUB-164, removing SQS triggers for lambda functions and creating even…
  terraform/environments/laa-enterprise-service-bus/cclf_lambda.tf
  terraform/environments/laa-enterprise-service-bus/ccms_lambda.tf
  terraform/environments/laa-enterprise-service-bus/ccr_lambda.tf
  terraform/environments/laa-enterprise-service-bus/eventbridge_iam.tf
  terraform/environments/laa-enterprise-service-bus/eventbridge_schedule.tf
  terraform/environments/laa-enterprise-service-bus/maat_lambda.tf
  terraform/environments/laa-enterprise-service-bus/sns.tf
Labels: environments-repository

#13069 HUB-167, adding application variables to allow HUB 2.0 Lambda to conn…
  terraform/environments/maatdb/application_variables.json
Labels: environments-repository

#13075 Short amendment to the outdated README.md
  README.md
Labels: environments-repository

#13077 [HUB-162] changed treat missing data option
  terraform/environments/laa-enterprise-service-bus/cloudwatch.tf
Labels: environments-repository

#13081 New files for terraform/environments
  .github/CODEOWNERS
  .github/workflows/hmcts-claude-provider.yml
  terraform/environments/hmcts-claude-provider/README.md
  terraform/environments/hmcts-claude-provider/application_variables.json
  terraform/environments/hmcts-claude-provider/data.tf
  terraform/environments/hmcts-claude-provider/locals.tf
  terraform/environments/hmcts-claude-provider/networking.auto.tfvars.json
  terraform/environments/hmcts-claude-provider/platform_backend.tf
  terraform/environments/hmcts-claude-provider/platform_base_variables.tf
  terraform/environments/hmcts-claude-provider/platform_data.tf
  terraform/environments/hmcts-claude-provider/platform_locals.tf
  terraform/environments/hmcts-claude-provider/platform_providers.tf
  terraform/environments/hmcts-claude-provider/platform_secrets.tf
  terraform/environments/hmcts-claude-provider/secrets.tf
  terraform/environments/hmcts-claude-provider/versions.tf
Labels: environments-repository, github-workflow

#13084 feat(xhibit-portal): PRTG-SSO secrets #476
  terraform/environments/xhibit-portal/xp-secrets.tf
Labels: environments-repository

#13082 Update Dasboard Service Helm chart version to 0.2.6
  terraform/environments/analytical-platform-compute/dashboard-service/helm-charts-dashboard-service.tf
Labels: environments-repository

#13097 Equip Server Sizing (EC2 Instance type)
  terraform/environments/equip/main.tf
Labels: environments-repository

#13099 Refactor javascript redirect function to use a redirect Map with def…
  terraform/environments/tribunals/cloudfront.tf
Labels: environments-repository

#13108 ☁️ Cloud Platform Network Monitoring
  terraform/environments/analytical-platform-compute/cloudwatch-network-monitor.tf
  terraform/environments/analytical-platform-compute/environment-configuration.tf
Labels: environments-repository

#13111 New files for terraform/environments
  terraform/environments/data-platform/llm-gateway/networking.auto.tfvars.json
  terraform/environments/data-platform/llm-gateway/platform_backend.tf
  terraform/environments/data-platform/llm-gateway/platform_base_variables.tf
  terraform/environments/data-platform/llm-gateway/platform_data.tf
  terraform/environments/data-platform/llm-gateway/platform_locals.tf
  terraform/environments/data-platform/llm-gateway/platform_providers.tf
  terraform/environments/data-platform/llm-gateway/platform_secrets.tf
  terraform/environments/data-platform/llm-gateway/versions.tf
Labels: environments-repository
